/* Global Styles */

html, body {
  margin: 0;
  padding: 0;
  background-color: #f4f7f6;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* BOTON COLAPSABLE */

.menu-collapsed {
  padding-left: 2%;
  padding-top: 2%;
}

.menu-collapsed h3 {
  float: left;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  color: #333333;
  padding-bottom: 1px;
  border-bottom:  solid red;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.menu-expanded h3 {
  font-size: 20px;
  color: red;
  border-bottom: none;
  text-transform: uppercase;
  padding-bottom: 1px;
  cursor: pointer;
  color: #ffffff;
  text-decoration:none;
}

.menu-collapsed {
  position: absolute;
  transition: .25s;
	background: none;
  border: none;
  height: 25%;
  width: 8%;
  z-index: 2;
}

.menu-expanded {
  position: fixed;
  transition: .25s;
  background-color: rgba(0, 0, 0, 0.98);
  height: 100%;
  width: 100%;
  z-index: 2;
}

.text-justify  {
  margin-top: 15%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 35px;
  font-size: 15px;
  color: #ffffff;
}


/*ICONOS FA FA*/

/*.container-fluid li {
  margin-top: 3%;
}

i[aria-hidden] {
  color: rgba(77, 77, 77, 0.3);
  padding: 10px;
}

.navbar-nav i:hover {
  color: #4d4d4d;
}*/

/*PRINCIPAL SUPERIOR*/

#cuerpo {
  box-sizing: border-box;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 0%;
  margin-top: 0%;
}

.center-block {
  margin-top: 30%;
  margin-bottom: 15%;
}

#mainlogo {
  padding: 0.5%;
}

#image-logo {
  position: relative;
  z-index: 1;
}


/*LINEA DIVISORIA*/

hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: #b0b0b0;
  height: 1px;
  opacity: 0.5;
  margin-top: 3%;
  margin-bottom: 3%;
}


/*PANEL DE CARTAS*/

a:link {
  text-decoration: none;
}

#cards-panel {
  display: block;
  padding-top: 3%;
  padding-bottom: 1.5%;
}

.thumbnail {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 10%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.1s cubic-bezier(.25, .8, .25, 1);
  background-color: #fcfcfc;
  padding: 5%;
  text-align: center;
  border-radius: 2px;
  height: auto;
}

.thumbnail:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.thumbnail img {
  width: 100%;
  height: auto;
  /*height: auto;*/
}

.thumbnail label {
  width: 50%;
  color: #939393;
  background-color: #efefef;
  text-transform: uppercase;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 1.5%;
  font-size: 10px;
}

.thumbnail h4 {
  font-size: 14px;
  font-weight: 700;
  color: #4d4d4d;
  padding: 1.5%;
  text-transform: uppercase;
  line-height: 20px;
}

.thumbnail h5 {
  font-size: 14px;
  font-weight: 400;
  color: #4d4d4d;
  padding: -1%;
  line-height: 18px;
}

.thumbnail h6 {
  padding: 1.5%;
  color: #969696;
}

.thumbnail p {
  text-align: justify;
  font-size: 14px;
  color: #969696;
  margin-left: -10px;
  margin-right: -10px;
  padding: 10px;
}


/* FOOTER */

footer {
  background-color: #212121;

}

.text-center {
  padding: 1%;
  display: inline-block;
  vertical-align: baseline;
  margin-top: 2.25%;
  margin-bottom: 2%;
  padding-right: 20px;
  color: #ffffff;
  font-weight: 200;
  font-size: 14px;
  line-height: normal;
  font-family: 'Roboto', sans-serif;
}

.col-md-6 {
  text-align: center;
}

.col-md-3 {
   margin-left: 0;
 }

#vale-gusso {
padding: 1%;
margin-left: 90%;
width: 30px;
height: auto;
margin-top: -25%;
}

 .tooltip > .tooltip-inner{
   background-color: #000000;
     color: #FFFFFF;
     padding: 15px;
     font-size: 12px;
     width: 300px;
}


/*SCROLLUP */

.back-to-top {
  visibility: hidden;
  background-color: rgba(33,33,33,0.4);
  color: #ffffff;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 38px;
  position: fixed;
  bottom: 15%;
  right: 50%;
  margin-right: -20px;
  margin-left: -20px;
  z-index: 90;
  cursor: pointer;
  opacity: 0;
  border-radius: 3px;
  -webkit-transform: translateZ(0);
  transition: all .4s
}

.back-to-top .fa {
  font-size: 22px;
  vertical-align: middle
}

.back-to-top:hover {
  background-color: #212121;
  color: #fff;
  opacity: 1;
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
}

/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
  .thumbnail {
    height: 500px;
  }
  #nombre {
    font-size: 18px;
  }
  .text-justify {
    font-size: 16px;
  }
  .center-block {
    margin-top: 20%;
    margin-bottom: 15%;
  }
  .back-to-top {
    width: 42px;
    height: 42px;
    position: fixed;
    bottom: 15%;
    right: 20px;
    margin-right: 0;
    margin-left: 0;
    z-index: 90;
    border-radius: 3px;
  }
  #vale-gusso {
    padding: 5%;
    margin-left: 85%;
    width: auto;
    margin-top: 0%;
  }
}

/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
  .thumbnail {
    height: 500px;
  }
  #nombre {
    font-size: 18px;
  }
  .text-justify {
    font-size: 16px;
  }
  .center-block {
    margin-top: 20%;
    margin-bottom: 15%;
  }
  .back-to-top {
    width: 42px;
    height: 42px;
    position: fixed;
    bottom: 15%;
    right: 20px;
    margin-right: 0;
    margin-left: 0;
    z-index: 90;
    border-radius: 3px;
  }
  #vale-gusso {
    padding: 5%;
    margin-left: 85%;
    width: auto;
    margin-top: 0%;
  }
}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
  .thumbnail {
    height: 500px;
  }
  #nombre {
    font-size: 18px;
  }
  .text-justify {
    font-size: 16px;
  }
  .center-block {
    margin-top: 20%;
    margin-bottom: 15%;
  }
  .back-to-top {
    width: 42px;
    height: 42px;
    position: fixed;
    bottom: 15%;
    right: 20px;
    margin-right: 0;
    margin-left: 0;
    z-index: 90;
    border-radius: 3px;
  }
  #vale-gusso {
    padding: 5%;
    margin-left: 85%;
    width: auto;
    margin-top: 0%;
  }
}
