/* Global Styles */

html, body {
  /*width: 100%;*/
  height: auto;
  margin: 0;
  padding: 0;
  background-color: #f4f7f6;
}

body {
  font-family: 'Roboto', sans-serif;
}


/* Custom Button Style */

btn-dark {
  font-family: 'Roboto', sans-serif;
  font-weight: 300px;
  text-transform: uppercase;
  width: 150px;
  background-color: none;
}

[class^="icon-menu"]:before, [class*=" icon-menu"]:before {
  color: red;
  font-size: 20px;
  margin-left: 5px;
  font-style: normal;
}

#menu-toggle {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: none;
  vertical-align: baseline;
  color: #ffffff;
  border-radius: 0;
}

#menu-toggle::after {
  content: 'menu';
  text-transform: uppercase;
  color: #333333;
  font-size: 15px;
  margin-left: 10px;
  vertical-align: text-top;
}

.toggle {
  padding: 18px 0 18px 0;
  margin-top: 0;
}

.btn-lg {
  margin-top: 5px;
  margin-left: 15px;
}


/*Breadcrums*/

.breadcrumb {
  float: right;
  padding: 8px 15px;
  margin-top: 20px;
  background-color: #f4f7f6;
  color: #1a1a1a;
}

li[active] {
  color: #666666;
}

.breadcrumb>li>a {
  color: #1a1a1a
}


/* Side Menu */

#sidebar-wrapper {
  font-family: 'Roboto', sans-serif;
  z-index: 1000;
  margin-top: 5px;
  position: fixed;
  left: 0;
  width: 0;
  height: 500px;
  transform: translateX(-250px);
  overflow-y: auto;
  background: #222;
  box-shadow: 0px 2px 10px #888888;
  -webkit-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  -ms-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

#sidebar-wrapper.active {
  left: 250px;
  width: 250px;
  -webkit-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  -ms-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

#menu-close {
  padding: 1px;
  margin-top: -55px;
  margin-left: 30px;
}

[class^="icon-close"]:before, [class*=" icon-close"]:before {
  color: #ffffff;
  font-size: 18px;
  font-style: normal;
}

.pull-left {
  float: left;
}

.sidebar-nav {
  position: absolute;
  top: 75px;
  width: 250px;
  padding: 0px;
  margin-left: -10px;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 25px;
  list-style-type: none;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  color: #969696;
}

.sidebar-nav li>a {
  display: block;
  line-height: 50px;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: red;
}


/*Main*/

.img-responsive {
  max-width: 100%;
  height: 660px;
  background: url('http://lorempixel.com/1583/660') center center no-repeat;
  background-size: cover;
  margin-bottom: 5%;
}


/*Main Cards panel*/

.card-title {
  margin-top: -2%;
  : padding: 0;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

.card-subtitle {
  color: #333333;
  text-align: center;
}


/*hr*/

#cont-article {
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: #b0b0b0;
  height: 1px;
  opacity: 0.5;
}


/*Articles*/

blockquote {
  font-family: "Open Sans", sans-serif;
  line-height: 25px;
  font-weight: 400;
  font-size: 14px;
}

.card-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  transform: scale(1, 0.5);
  -webkit-transform: scale(1, 0.9);
  /* Safari and Chrome */
  -moz-transform: scale(1, 0.9);
  /* Firefox */
  -ms-transform: scale(1, 0.9);
  /* IE 9+ */
  -o-transform: scale(1, 0.9);
  /* Opera */
}

.card-subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.text-justify {
  font-family: "Open Sans", sans-serif;
  line-height: 35px;
  font-weight: 300;
  font-size: 18px;
}


/* Footer */

footer {
  padding: 5px 0;
}

.content-footer p {
  display: inline-block;
  vertical-align: baseline;
  margin-top: 30px;
  margin-bottom: 40px;
  padding-right: 20px;
}

#to-top {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
}

.contact-email {
  color: #333333;
}


/* Extra Small */


/*@media(min-width:200px){
  #mainlogo {
    margin-top: 25%;
  }
}*/


/* Small */


/*@media(min-width:360px){
  #mainlogo {
    margin-top: 20%;
  }
}*/


/* Medium */


/*@media(min-width:768px){
  #mainlogo {
    margin-top: 10%;
  }
}*/


/* Large */


/*@media(min-width:1200px){
  #mainlogo {
    margin-top: 5%;
  }
}*/


/* Extra Large */


/*@media(min-width:1600px){
  #mainlogo {
    margin-top: 7.5%;
  }
}*/
