/* Global Styles */

html, body {
  height: auto;
  margin: 0;
  padding: 0;
  background-color: #f4f7f6;
}

body {
  font-family: 'Roboto', sans-serif;
}


/* FILA DE NAVEGACIÓN */

.navbar {
  padding-top: 2%;
  padding-left: 2%;
}

.navbar-default {
	/*padding: 1%;*/
	margin:0;
	background: #f4f7f6;
  border: none;
}

.navbar-default h3 {
  float: left;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  color: #333333;
  letter-spacing: 1px;
  border-bottom: solid #ff0000;
}

/*BREADCRUMBS*/

.breadcrumb {
  visibility: hidden;
  /*float: right;
  margin-right: -1%;
  padding: 8px 15px;
  margin-top: 1%;
  background-color: #f4f7f6;
  color: #1a1a1a;*/
}

.breadcrumb>.active {
  color: #000000;
}

.breadcrumb>li>a {
  color: #666666;
}

/*MAIN*/

.container-fluid {
  padding-left: 10%;
  padding-right: 10%;
}

.row {
  margin-top: 15px;
}

#project-image {
  position:relative;
  z-index:1;
  background-color: #ffffff;
}

/*PRINCIPAL*/

#project-description {
  position:relative;
  z-index:2;
  background: #f4f7f6;
  margin:0 auto;
}

.card-title {
  margin-top: 5%;
  padding: 0;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  line-height: normal;
}

#project-description h3 {
  color: #333333;
  text-align: center;
}

/*LINEA DIVISORIA*/

hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: #b0b0b0;
  height: 1px;
  opacity: 0.5;
}

#hr-quote {
  border: 0;
  float: left;
  width: 30%;
  background-color: #b0b0b0;
  height: 3px;
  opacity: 0.5;
}

/*ARTICULO*/

.quote {
  text-align: center;
}

blockquote {
  font-family: "Open Sans", sans-serif;
  line-height: 25px;
  font-weight: 400;
  font-size: 14px;
  border-left: none;
  padding-left: 0;
}

.card-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 15px;
  transform: scale(1, 0.5);
  -webkit-transform: scale(1, 0.9);
  /* Safari and Chrome */
  -moz-transform: scale(1, 0.9);
  /* Firefox */
  -ms-transform: scale(1, 0.9);
  /* IE 9+ */
  -o-transform: scale(1, 0.9);
  /* Opera */
}

.card-subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.text-justify {
  font-family: "Open Sans", sans-serif;
  line-height: 35px;
  font-weight: 300;
  font-size: 14px;
}

#pdf {
  color: inherit;
  text-decoration: none;
}

/* FOOTER */

footer {
  background-color: #212121;
}
footer > .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container-fluid > .row {
  margin-top: 0;
  margin-right: -15px;
  margin-left: -15px;
}

.text-center {
  padding: 1%;
  display: inline-block;
  vertical-align: baseline;
  margin-top: 2.25%;
  margin-bottom: 2%;
  padding-right: 20px;
  color: #ffffff;
  font-weight: 200;
  font-size: 14px;
  line-height: normal;
  font-family: 'Roboto', sans-serif;
}

.col-md-6 {
  text-align: center;
}

.col-md-3 {
   margin-left: 0;
 }

 #vale-gusso {
 padding: 1%;
 margin-left: 90%;
 width: 30px;
 height: auto;
 margin-top: -25%;
 }

 .tooltip > .tooltip-inner{
   background-color: #000000;
     color: #FFFFFF;
     padding: 15px;
     font-size: 12px;
     width: 300px;
}

/*SCROLLUP */

.back-to-top {
  visibility: hidden;
  background-color: rgba(33,33,33,0.4);
  color: #ffffff;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 38px;
  position: fixed;
  bottom: 22.5%;
  right: 50%;
  margin-right: -20px;
  margin-bottom: -20px;
  z-index: 90;
  cursor: pointer;
  opacity: 0;
  border-radius: 3px;
  -webkit-transform: translateZ(0);
  transition: all .4s
}

.back-to-top .fa {
  font-size: 22px;
  vertical-align: middle
}

.back-to-top:hover {
  background-color: #212121;
  color: #fff;
  opacity: 1;
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
}

/* Small Devices, Tablets */

  @media only screen and (min-width : 768px) {
    .card-subtitle {
      font-size: 18px;
    }
    .text-justify {
      font-size: 18px;
    }
    .card-title {
      font-size: 40px;
    }
    .back-to-top {
      width: 42px;
      height: 42px;
      position: fixed;
      bottom: 15%;
      right: 20px;
      margin-right: 0;
      margin-left: 0;
      z-index: 90;
      border-radius: 3px;
    }
    .breadcrumb {
      float: right;
      margin-right: -1%;
      padding: 8px 15px;
      margin-top: 1%;
      background-color: #f4f7f6;
      color: #1a1a1a;
    }
    #vale-gusso {
      padding: 5%;
      margin-left: 85%;
    }
  }
  }
/* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {
    .card-subtitle {
      font-size: 18px;
    }
    .text-justify {
      font-size: 18px;
    }
    .card-title {
      font-size: 40px;
    }
    .back-to-top {
      width: 42px;
      height: 42px;
      position: fixed;
      bottom: 15%;
      right: 20px;
      margin-right: 0;
      margin-left: 0;
      z-index: 90;
      border-radius: 3px;
    }
    .breadcrumb {
      float: right;
      margin-right: -1%;
      padding: 8px 15px;
      margin-top: 1%;
      background-color: #f4f7f6;
      color: #1a1a1a;
    }
    #vale-gusso {
      padding: 5%;
      margin-left: 85%;
    }
  }
  }

/* Large Devices, Wide Screens */
  @media only screen and (min-width : 1200px) {
    .card-subtitle {
      font-size: 18px;
    }
    .text-justify {
      font-size: 18px;
    }
    .card-title {
      font-size: 40px;
    }
    .back-to-top {
      width: 42px;
      height: 42px;
      position: fixed;
      bottom: 15%;
      right: 20px;
      margin-right: 0;
      margin-left: 0;
      z-index: 90;
      border-radius: 3px;
    }
    .breadcrumb {
      float: right;
      margin-right: -1%;
      padding: 8px 15px;
      margin-top: 1%;
      background-color: #f4f7f6;
      color: #1a1a1a;
    }
    #vale-gusso {
      padding: 5%;
      margin-left: 85%;
    }
  }
  }
