<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SocioDivagaciones</title>
  <link rel="icon" href=".\img\favicon.ico.png" sizes="16x16" type="image/png">

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="css/estilo-entradas.css">

  <!-- jquery -->
  <script src=" https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!-- Image load -->
  <script src="http://imagesloaded.desandro.com/imagesloaded.pkgd.min.js"></script>
  <!-- Masonry -->
  <script src="https://unpkg.com/masonry-layout@4.2.0/dist/masonry.pkgd.min.js"></script>

  <!-- Custom Fonts -->
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108346653-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-108346653-1');
  </script>

</head>

<body>

  <!-- FILA DE NAVEGACIÓN -->

  <nav class="navbar navbar-default">
    <a href=".\index.html#agonia"><h3>Home</h3></a>
    <div class="container-fluid" id="navegacion">
      <ul class="breadcrumb">
        <li><a href=".\index.html">Relatos mínimos</a></li>
        <li class="active">Agonía</li>
      </ul>
    </div>
  </nav>

  <!--  MAIN -->

  <div class="container-fluid">
    <div id="project-image">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="bg">
            <img src="img\agonia_830_530.jpg" alt="relatos_minimos" class="center-block img-responsive">
          </div>
        </div>
      </div>
    </div>


    <!-- ARTICULO -->

    <div id="project-description">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="post-preview">
            <h2 class="card-title">
          agonía <sup>i</sup>
          </h2>
            <br>
            <hr>
            <br>
            <p class="text-justify">
              ¿Usted me pregunta por mis impresiones acerca de Agonia? Bien, le diré: es el peor de los mundos que conozco; un verdadero infierno cotidiano. La mayoría de los habitantes de esa isla estéril son algo así como una bandada de pájaros obligados a vivir
              en una jaula llena de gatos. Dependen todo el tiempo de la rapidez de sus reflejos, de su astucia y de su extraordinaria habilidad para robar algunas migajas sin dejar de vigilar su entorno ni siquiera a la hora de t ener sexo. Su única
              fortaleza es que son siempre oportunistas y que, a la larga, suelen tener más hijos que sus depredadores.
              <br><br>Los “pájaros” agónicos no sólo luchan contra los “gatos”; también compiten entre sí duramente y, si bien a veces se ponen de acuerdo para hacer frente a sus enemigos, ello sólo sucede cuando están al borde de la extinción y sin dejar
              nunca de lado la posibilidad de obtener algún beneficio para su núcleo de familiares y amigos a expensas de sus camaradas de lucha. No practican la solidaridad de grupo salvo en situaciones límites aunque sí puedan llenarse la boca con frases
              altisonantes acerca de los innegociables valores que los unen entre sí y con todos los parias del archipiélago.<br><br> Noto que usted me mira con incredulidad. Seguramente está pensando que yo estoy chiflado; que una sociedad basada en
              esas reglas no puede, o no debe, existir. Sin embargo, existe y hace décadas que funciona de esa manera. El motivo por el cual mi relato le parece absurdo no reside en el carácter extravagante de las costumbres de ese reino sino en su adhesión
              -la suya, no la de ellos- a valores hace tiempo derogados. Despréndase de una buena vez de toda esa basura pasada de moda, de esa moralina barata, y contemple los hechos. Más aún: si usted no se atreva a rever sus categorías de pensamiento
              no sólo no podrá entender a Agonia; tampoco comprenderá muchas cosas que suceden en la ciudad o aldea en la que vive. <br><br>Estoy autorizado a formularle semejante consejo porque yo mismo me manejé en esa isla durante mucho tiempo con
              las anteojeras puestas. Sólo después de muchos meses de convivencia y de muchas preguntas insolentes llegué a tener una idea de qué era lo pasaba allí; es decir, me di cuenta que ellos eran los racionales y yo un estúpido. Cuando interrogué
              a algunos de los dirigentes más destacados de los “pájaros” por qué aún a riesgo de su vida y de sus compañeros estaban permanentemente negociando con los “gatos”, me contestó con argumentos de sentido común. Negociaban con aquellos que
              podían devorarlos porque sólo ellos podían tirarles alguna migaja, ya sea un beneficio económico o el permiso para estar fuera de un calabozo. Según su punto de vista sólo cabía negociar con el enemigo puesto que con los amigos no se transa
              porque son amigos y, por ende, tan pobres y tan vulnerables como ellos mismos.<br><br>En otra ocasión –realmente indignado por alguna supuesta traición o agachada que uno de esos dirigentes había cometido- lo increpé duramente, muy duramente.
              Quería saber por qué se negaba a convocar a su gente a librar una batalla frontal contra la dictadura. Me explicó que jamás haría semejante cosa mientras la situación no fuese tan desesperante que sus seguidores lo obligasen a ello amenazándole
              con ajusticiarlo. Según sus pronósticos, lo más probable que iba a suceder en el caso de emprender semejante aventura sería que iban a fracasar y morirían muchos de ellos y todavía más inocentes. A su parecer, aún en el improbable caso de
              triunfar, Agonia quedaría tan devastada que tardaría décadas en recuperar el modesto nivel de vida que los “pájaros” tenían en ese momento. Además -me confesó en voz baja- que, suponiendo que esa lucha revolucionaria terminara en la derrota
              total de sus enemigos y el reino no fuera asolado, estaba seguro de que la primera medida que iban a adoptar las nuevas autoridades sería barrer de la faz de la tierra a cada uno de ellos, los dirigentes del pasado, so pretexto de habían
              sido cómplices del régimen del pasado.
              <br><br> “Nuestra estrategia –dijo- es totalmente diferente. Podemos fingir intransigencia absoluta e, incluso, acoger a pequeños grupos de loquitos dispuestos a transformarse en bombas humanas, pero siempre tratamos de detenernos antes
              de que la sangre llegue al río. Estamos obligados a realizar protestas aisladas y controlables que induzcan a los “gatos” a pensar que algún día esa contienda apocalíptica pudiera tener lugar para obligarlos a ceder algo. Nada es para nosotros
              más valioso que prescindir de la rectitud moral o de la ideología mientras sigamos viviendo. Por lo menos, siempre nos queda la esperanza de que las cosas cambien espontáneamente pero, si ello sucediera, tampoco en ese caso dejaríamos de
              conversar. No hay poder, por limitado que sea, que no conlleve responsabilidad y, a la vez, algún tipo de compromiso con la mentira.”<br><br>
            </p>
            <hr id="hr-quote">
            <br>
            <br>
            <blockquote>
              <p class="text-left">i Agonia es mi reflexión acerca del comportamiento del sindicalismo durante las dictaduras militares que experimentara nuestro país durante el siglo pasado. También una crítica a la “Ética posmoderna” de Zygmunt Bauman</p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>

  <!-- PIE DE PAGINA -->

  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <p class="text-center">Copyright &copy; SocioDivagaciones 2017 &nbsp | &nbsp sociodivagaciones@gmail.com</p>
        </div>
        <div class="col-md-3 col-md-offset-3">
          <img data-toggle="tooltip" data-placement="left" title="Designed and developed by Valeria Gusso." src=".\img\developer.png" alt="vg" id="vale-gusso"></a>
        </div>
      </div>
    </div>
  </footer>

  <div class='back-to-top' id='back-to-top' title='Back to top'>
    <i class='fa fa-chevron-up'></i></div>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>

  <!-- BOTON SCROLL UP  -->
  <script>
    (function() {
      $(document).ready(function() {
        return $(window).scroll(function() {
          return $(window).scrollTop() > 500 ? $("#back-to-top").addClass("show") :
            $("#back-to-top").removeClass("show")
        }), $("#back-to-top").click(function() {
          return $("html,body").animate({
            scrollTop: "0"
          })
        })
      })
    }).call(this);
  </script>

  <!--PARALLAX-->
  <script>
    $(document).ready(function() {
      var $window = $(window);

      function scroll_elements() {
        var scroll = $window.scrollTop();
        var scrollLayer = scroll / 1.4;

        $("#project-image").css(
          "-webkit-transform", "translate3d(0," + scrollLayer + "px,0)",
          "transform", "translate3d(0," + scrollLayer + "px,0)"
        );
      }
      $window.scroll(scroll_elements);
    });
  </script>

  <!-- Tooltip tool para botón del developer -->
  <script>
    $(function() {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>

</body>

</html>
