<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SocioDivagaciones</title>
  <link rel="icon" href=".\img\favicon.ico.png" sizes="16x16" type="image/png">

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="css/estilo-entradas.css">

  <!-- jquery -->
  <script src=" https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!-- Image load -->
  <script src="http://imagesloaded.desandro.com/imagesloaded.pkgd.min.js"></script>
  <!-- Masonry -->
  <script src="https://unpkg.com/masonry-layout@4.2.0/dist/masonry.pkgd.min.js"></script>

  <!-- Custom Fonts -->
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108346653-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-108346653-1');
  </script>

</head>

<body>

  <!-- BARRA DE NAVEGACIÓN -->

  <nav class="navbar navbar-default">
    <a href=".\index.html#carta-robada"><h3>Home</h3></a>
    <div class="container-fluid" id="navegacion">
      <ul class="breadcrumb">
        <li><a href=".\index.html">Relatos mínimos</a></li>
        <li class="active">Carta Robada</li>
      </ul>
    </div>
  </nav>

  <!--  Main -->
  <div class="container-fluid">
    <div id="project-image">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="bg">
            <img src="img\carta_830_530.jpg" alt="relatos_minimos" class="center-block img-responsive">
          </div>
        </div>
      </div>
    </div>


    <!-- ARTICULO -->

    <div id="project-description">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="post-preview">
            <h2 class="card-title">
              la carta robada
            </h2>
            <h3 class="card-subtitle">
              Nuevo robo de “La carta robada” de Poe: la mancha venenosa del pecado
            </h3>
            <br>
            <hr>
            <br>
            <p class="text-justify">
              Para mí hay algo evidente: toda interpretación de un mito -o de un texto literario- genera necesariamente otro mito y, por ende, cualquier crítica de aquella no puede presumir que es verdadera en el sentido que corresponde a la palabra “verdadera” ya
              sea para el sentido común o a las ciencias físicas. En otras palabras: es imposible escapar al sortilegio de la ficción y estamos condenados a movernos de versión en versión y a juzgar la mayor o menor verosimilitud de cada una de ellas
              sin abrazar nunca la verdad. La verdad del mito es “la cosa en sí” kantiana: no podemos dejar de pensar en ella aunque sea incognoscible. Puedo decir “tal interpretación del mito X me resulta más convincente que otra” pero tengo prohibido
              siquiera pensar que en algún momento alguien haya formulado la versión verdadera de éste; la única o la mejor posible.<br><br> La mejor defensa que puede hacer el intérprete de un mito de su trabajo es que éste puede poner
              nuevamente en juego la pelota induciendo a sus lectores a elaborar interpretaciones personales que, por supuesto, serán también mitológicas. A mi juicio, la más emotiva síntesis de todo ello es la película que dirigiera Wolfgang Petersen
              en base a una novela de Michael Ende que entre nosotros se conociera con el título de “La historia sin fin”. En este relato, la condición para la supervivencia del maravilloso reino de Fantasía es que un niño lector, Sebastián, pueda creer
              en su existencia cuando es convocado para evitar que lo aniquile la Nada.<br><br> Estos principios fueron también esbozados por Claude Lévi-Strauss en su artículo sobre “La estructura de los mitos” cuando señalara –luego de desarrollar su
              interpretación del mito de Edipo- que “No dudaremos, pues, en colocar a Freud, después de Sófocles, entre nuestras fuentes del mito de Edipo. Sus versiones merecen el mismo crédito que otras más antiguas y en apariencia “más auténticas”.
              “Con esa frase, un tanto enigmática, nuestro autor apunta a demostrar que toda interpretación de un mito, apenas formulada, pierde en el acto su estatus cuasi-científico de “interpretación” para transformarse en una “versión” más del mito.<sup><i>i</i></sup><br><br>              Ahora bien: mientras reflexionaba acerca de estos temas se me ocurrió que si lo antes dicho era válido bien podría yo inventar alguna versión más de cualquier mito o fragmento literario aplicando las reglas del análisis estructural que me
              enseñaran los libros de dicho antropólogo y, muy especialmente, de Pierre Bordieu. Rebuscando en la biblioteca algún texto para analizar (¿o para arruinar?) me tropecé con la apretada síntesis que hiciera Lacan sobre “La carta robada” de
              Edgard Allan Poe.<br><br> Sin entrar a resumir ese cuento –que creo muy conocido- y mucho menos a examinar las teorías lingüísticas o psicoanalíticas de Lacan, lo primero que se ocurrió es que ese texto podía ser considerado como una fábula
              moral consistente en un relato ejemplificador coronado por alguna moraleja que debía desentrañar. Después de algunas pruebas arribé al siguiente esquema elaborado en base a la reseña lacaniana:
              <br><br>
              <b>Estadio 0:</b> No explicitado en el relato pero sugerido por éste:<br><br></p>
            <ol>
              <li>
                <p class="text-justify">
                  a. Premisa lógica: En el reino en el cual transcurre la acción, imperaba alguna vez un orden moral, un equilibrio virtuoso.</p>
              </li>
              <br>
              <li>
                <p class="text-justify">
                  b. Dicho orden moral es roto por un pecado o delito cometido por la reina que el autor del cuento no revela a lo largo de todo el relato. Esa transgresión es observada por algún testigo anónimo que le escribe una carta al rey para ponerle al tanto del
                  hecho escandaloso. De tal manera el estigma del mal se pone en circulación, adquiere el carácter de lo que en un conocido juego infantil se denomina la “mancha venenosa”.</p>
              </li>
            </ol>
            <br><br>
            <p class="text-justify">
              <b>Estadio 1:</b> Primera movida de la pelota: La reina logra engañar al rey escamoteando de su vista la carta acusadora. De tal manera comete ella un nuevo delito.<br><br>
              <b>Estadio 2:</b> El ministro observa la jugada de la reina y se apodera de la carta acusadora cometiendo a su vez un delito que la reina no puede denunciar sin autoincriminarse. El ministro observa la jugada de la reina y se apodera de
              la carta acusadora cometiendo a su vez un delito que la reina no puede denunciar sin autoincriminarse.<br><br>
              <b>Estadio 3:</b> El jefe de policía –decidido a ocultar el escándalo- allana el gabinete del ministro para apoderarse de la carta cometiendo así un delito. Como esta búsqueda no produce el resultado deseado, este estadio funciona como una
              variación del juego.<br><br>
              <b>Estadio 4:</b> Un detective contratado por el jefe de policía y dotado de extraordinaria capacidad analítica, allana el gabinete del ministro cometiendo así un delito pero, a diferencia de aquél, tiene éxito.<br><br>
              <b>Estadio 5:</b> Se deduce del texto que la carta acusadora o estigma en circulación es entregada por el detective al jefe de policía. Lo que no se nos dice es si éste la destruye o la reserva para volver a ponerla en circulación en algún
              momento posterior.<br><br>
              <b>Moralejas posibles:</b> Debido a que el cuento no nos informa sobre el destino final de la carta incriminatoria tenemos dos moralejas alternativas:<br><br> Moraleja α: Si la carta-mancha es destruida: la moraleja de esta fábula corresponde
              a la esperanzadora filosofía de Leibniz que se podría parafrasear de la siguiente manera: “El orden moral va a ser restablecido a la larga o a la corta. No se puede erradicar para siempre el mal pero vivimos en el mejor de los mundos posibles.
              Confiemos en la misericordia de Dios”. Este modelo de relato edificante es el que empleaban muchas de las películas norteamericanas de gánster del siglo pasado para convencer a sus censores de que incursionando en el mundo del delito sólo
              buscaban probar que “el mal no paga”.<br><br> Moraleja β: Si la carta-mancha no es destruida, ello significa que la cadena delictiva no se detendrá y la culpa del pecado original seguirá circulando de generación en generación hasta el fin
              de los tiempos. En tal caso, corresponde claramente a la tradición bíblica cuando en Números 14.18. se dice que: “Yahvé es tardo en la cólera y rico en bondad; aunque nada deja sin castigo, castigando la iniquidad de los padres en los hijos
              hasta la tercera y cuarta generación”. (Biblia de Jerusalén, “Números”, 14.18.). <br><br> Puesto que el cuento de Poe nada aclara al respecto y, como se viera, arranca de algo no revelado (el pecado de la reina denunciado por un soplón)
              para terminar en el misterio de qué sucediera al término del cuento con la carta estigmatizadora, sólo nos queda la alternativa de cerrar este análisis con una última reflexión que para mí es la “meta-moraleja” del cuento:<br><br> Metamoraleja
              Г: ¿Prescriben los pecados en algún momento o la cadena del mal debe durar para siempre jamás? ¿Cómo debemos imaginar a Dios, bondadoso o vengativo?<br><br> Esta última interpretación del cuento de Poe encaja a mí parecer con otras interpretaciones
              realizadas por diversos estructuralistas de textos literarios o de mitos: Al término del análisis, ellos parecen girar en torno a dilemas inherentes a la condición humana a lo largo de prolongados períodos históricos, algunos de ellos ya
              olvidados y otros todavía vigentes.<sup><i>ii</i></sup> No se trata, por supuesto, de arquetipos a la manera de Jung pero sí consisten en constelaciones culturales de muy larga duración. O, para decirlo, más claramente: corresponden a respuestas
              alternativas a preguntas que no podemos contestar apelando a la lógica.<br><br> Un último comentario: la interpretación anterior de “La carta robada” hasta aquí desplegada no fue más que la exhibición de un esqueleto apenas articulado: nada
              tiene que ver con placer que puede proporcionarnos la lectura de ese cuento. Es algo así como resumir el Otelo de Shakespeare diciendo que esa obra – mirada como fábula moral- nos enseña a no confiar en chismes de cortesanos cuando dudamos
              de la fidelidad de nuestra mujer. <br><br> Además, dicha interpretación me ha exigido, para poder ponerla por escrito en un texto finito, el dejar de lado muchos otros relatos conexos a los cuales me remitiera automáticamente la lectura
              de esa obra. Por ejemplo: El hecho de que el pecado original que se cometiera en el cuento de Poe fuera realizado por la reina ¿no está destinado a enseñarnos que las mayores rupturas del orden moral son en todos los casos provocados por
              la iniciativa de una mujer? O bien, atendiendo a las extensas explicaciones que el detective formulara a lo largo de ese relato para fundamentar la racionalidad de su método de investigación ¿corresponden a un elogio o una parodia de lo
              que en el siglo XIX era considerado como el prototipo de la racionalidad?<br><br>
            </p>
            <hr id="hr-quote">
            <br>
            <br>
            <blockquote>
              <p class="text-left">i Ver Claude Lévi-Strauss, “La estructura de los mitos”, en “Antropología estructural”, Buenos Aires, 1969, 197. Los subrayados incorporados en la cita son míos. Quiero aclarar que no pretendo reducir los trabajos de Sigmund Freud sobre
                el complejo de Edipo a una mera interpretación de ese mito. Más allá de dicha lectura del mito, Freud elaboró una teoría de la sexualidad infantil que aquí no viene al caso y sobre la cual no pretendo abrir juicio. </p>
              <p class="text-left">ii Por ejemplo: el agudo análisis que realizara E. Leach en “The Legitimacy of Solomon” incluido en Michael Lane (editor), “Introduction to Structuralism”, New York, 1979, 248 y ss. En este caso, el dilema en torno al cual se elaboraron
                diversos textos bíblicos giraría en torno a la pureza de sangre del monarca.</p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>

  <!--PIE DE PAGINA -->

  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <p class="text-center">Copyright &copy; SocioDivagaciones 2017 &nbsp | &nbsp sociodivagaciones@gmail.com</p>
        </div>
        <div class="col-md-3 col-md-offset-3">
          <img data-toggle="tooltip" data-placement="left" title="Designed and developed by Valeria Gusso." src=".\img\developer.png" alt="vg" id="vale-gusso"></a>
        </div>
      </div>
    </div>
  </footer>

  <div class='back-to-top' id='back-to-top' title='Back to top'>
    <i class='fa fa-chevron-up'></i></div>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>

  <!-- BOTON SCROLL UP  -->
  <script>
    (function() {
      $(document).ready(function() {
        return $(window).scroll(function() {
          return $(window).scrollTop() > 500 ? $("#back-to-top").addClass("show") :
            $("#back-to-top").removeClass("show")
        }), $("#back-to-top").click(function() {
          return $("html,body").animate({
            scrollTop: "0"
          })
        })
      })
    }).call(this);
  </script>

  <!--PARALLAX-->
  <script>
    $(document).ready(function() {
      var $window = $(window);

      function scroll_elements() {
        var scroll = $window.scrollTop();
        var scrollLayer = scroll / 1.4;

        $("#project-image").css(
          "-webkit-transform", "translate3d(0," + scrollLayer + "px,0)",
          "transform", "translate3d(0," + scrollLayer + "px,0)"
        );
      }
      $window.scroll(scroll_elements);
    });
  </script>

  <!-- Tooltip tool para botón del developer -->
  <script>
    $(function() {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>

</body>

</html>
