<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Horacio Gonzalez">
  <meta name="keywords" content="heriberto muraro, sociodivagaciones, sociología,
  sociólogo, sociedad, política argentina, opinion, divagaciones, análisis político">

  <title>SocioDivagaciones</title>
  <link rel="icon" href=".\img\favicon.ico.png" sizes="16x16" type="image/png">

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="css/estilo-entradas.css">

  <!-- jquery -->
  <script src=" https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!-- Image load -->
  <script src="http://imagesloaded.desandro.com/imagesloaded.pkgd.min.js"></script>

  <!-- FUENTES CUSTOMIZADAS -->
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108346653-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-108346653-1');
  </script>

</head>

<body>

  <!-- BARRA DE NAVEGACIÓN -->

  <nav class="navbar navbar-default">
    <a href=".\index.html#ciclos-politicos"><h3>Home</h3></a>
    <div class="container-fluid" id="navegacion">
      <ul class="breadcrumb">
        <li><a href=".\index.html">Explorando fronteras</a></li>
        <li class="active">Los ciclos políticos...</li>
      </ul>
    </div>
  </nav>

  <!--  PRINCIPAL -->
  <div class="container-fluid">
    <div id="project-image">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="bg">
            <img src="img\ciclos_830_530.jpg" alt="relatos_minimos" class="center-block img-responsive">
          </div>
        </div>
      </div>
    </div>


    <!-- ARTICULO -->

    <div id="project-description">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="post-preview">
            <h2 class="card-title">
              los ciclos políticos en la argentina democrática
              <br> (1983 – 2008)
            </h2>
            <br>
            <hr>
            <br>
            <ol>
              <li>
                <h4>Los problemas actuales</h4>
              </li>
              <p class="text-justify">
                La reciente disputa con el sector agrario en la que se involucrara en estos días el gobierno de Cristina Kirchner ha planteado a los analistas y dirigentes políticos no pocos interrogantes. Pocos días antes de dicho conflicto, la Presidenta gozaba de
                altas tasas de popularidad y gobernaba con el apoyo aparentemente incondicional no sólo de dirigentes, parlamentarios, gobernadores e intendentes peronistas sino también de diversos grupos aliados y de una fracción de la UCR. Paralelamente,
                su esposo asumía la conducción del PJ y elegía sus máximas autoridades sin tener que enfrentar a ninguna oposición organizada. En otras palabras, la hegemonía del “kirchnerismo” parecía más sólida y, por ende, más duradera que nunca.<br><br>                Nadie hubiera previsto que en pocos meses el nivel de popularidad de Cristina y Néstor Kirchner perdiera cerca de cuarenta puntos a consecuencia de un paro patronal y, mucho menos, que un amplio sector de la clase media urbana se autoconvocara
                para protestar contra su hegemonía <sup><b>1</b></sup>.<br><br> Atendiendo a esos datos, una posible explicación de dicha ruptura podría adoptar la siguiente forma: <br><br></p>
              </p>
              <p class="text-justify">
                <a href=".\pdf\Ciclos_politicos_Herbierto_Muraro.pdf" target="_blank" id="pdf"><b>Descargar</b> artículo completo en PDF<br><br></p></a>
              </p>
              <br><br>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- PIE DE PAGINA -->

  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <p class="text-center">Copyright &copy; SocioDivagaciones 2017 &nbsp | &nbsp sociodivagaciones@gmail.com</p>
        </div>
        <div class="col-md-3 col-md-offset-3">
          <img data-toggle="tooltip" data-placement="left" title="Designed and developed by Valeria Gusso." src=".\img\developer.png" alt="vg" id="vale-gusso"></a>
        </div>
      </div>
    </div>
  </footer>

  <div class='back-to-top' id='back-to-top' title='Back to top'>
    <i class='fa fa-chevron-up'></i></div>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>

  <!-- BOTON SCROLLTOP -->
  <script>
    (function() {
      $(document).ready(function() {
        return $(window).scroll(function() {
          return $(window).scrollTop() > 500 ? $("#back-to-top").addClass("show") :
            $("#back-to-top").removeClass("show")
        }), $("#back-to-top").click(function() {
          return $("html,body").animate({
            scrollTop: "0"
          })
        })
      })
    }).call(this);
  </script>

  <!--PARALLAX-->
  <script>
    $(document).ready(function() {
      var $window = $(window);

      function scroll_elements() {
        var scroll = $window.scrollTop();
        var scrollLayer = scroll / 1.4;

        $("#project-image").css(
          "-webkit-transform", "translate3d(0," + scrollLayer + "px,0)",
          "transform", "translate3d(0," + scrollLayer + "px,0)"
        );
      }
      $window.scroll(scroll_elements);
    });
  </script>

  <!-- TOOLTIP TOOL PARA BOTON DEL DEVELOPER -->
  <script>
    $(function() {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>



</body>

</html>
