<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="conejos, hierbas y política">
  <meta name="keywords" content="heriberto muraro, sociología, sociólogo, sociedad,
  política argentina, opinion, divagaciones, análisis político">

  <title>SocioDivagaciones</title>
  <link rel="icon" href=".\img\favicon.ico.png" sizes="16x16" type="image/png">

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="css/estilo-entradas.css">

  <!-- jquery -->
  <script src=" https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!-- Image load -->
  <script src="http://imagesloaded.desandro.com/imagesloaded.pkgd.min.js"></script>
  <!-- Masonry -->
  <script src="https://unpkg.com/masonry-layout@4.2.0/dist/masonry.pkgd.min.js"></script>

  <!-- Custom Fonts -->
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108346653-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-108346653-1');
  </script>

</head>

<body>

  <!-- BARRA DE NAVEGACIÓN -->

  <nav class="navbar navbar-default">
    <a href=".\index.html#cards-panel"><h3>Home</h3></a>
    <div class="container-fluid" id="navegacion">
      <ul class="breadcrumb">
        <li><a href=".\index.html">Relatos mínimos</a></li>
        <li class="active">Conejos, hierbas y política</li>
      </ul>
    </div>
  </nav>

  <!--  Main -->
  <div class="container-fluid">
    <div id="project-image">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="bg">
            <img src="img\conejos_830_530.jpg" alt="relatos_minimos" class="center-block img-responsive">
          </div>
        </div>
      </div>
    </div>


    <!-- ARTICULO -->

    <div id="project-description">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <h2 class="card-title">
              conejos, hierbas y política
            </h2>
          <h3 class="card-subtitle">
              La fábula de Cristina y los conejos<sup><b>1</b></sup>
            </h3>
          <hr>
          <div class="quote">
            <blockquote>
              <p>“Es crucial para la posibilidad de que un objeto social <br> se transforme en objeto de la investigación científica <br> la idea de monitorear las consecuencias <br> no intencionales de las acciones individuales”.
              </p>
              <small><cite>Philosophy of Economics, en Stanford Encyclopedia
                of Philosophy, 2012.</cite></small>
            </blockquote>
          </div>

          <p class="text-justify">
            Después de muchos años de lidiar ante la Justicia para rescatar algo de su patrimonio y viendo que a nadie importaba ya su destino, Cristina decidió retirarse para siempre del escenario y dedicarse a criar conejos en unas parcelas de tierra que todavía
            conservaba en algún lugar de la Patagonia. “Los conejos –se dijo- comen cualquier yuyo, incluso los pastos duros de este inhóspito lugar en el mundo. Voy a criarlos aquí y a permitir que los cazadores entren al establecimiento y capturen en
            cada jornada todas las piezas que puedan. Yo les cobraré una cantidad fija por pieza capturada, tal como hacen aquí algunos criadores de peces”.
          </p>
          <br>
          <p class="text-justify">
            “Pero, –como yo sé mucho de economía- voy a indexar según el índice de precios al consumidor lo que cobre por pieza y a anotar cuánto recaudo en cada jornada de trabajo. Además, sólo voy a autorizar que ingresen a mi campito en cada fecha un número fijo,
            digamos 30 cazadores. No quiero que me invada una multitud de conejicidas y en un par de días arrasen con todos los animales”. Tenía, pues, todo planificado: los conejos se reproducirían espontáneamente, comerían el pasto que crecía espontáneamente
            en su chacra y ella tendría una renta asegurada... también espontáneamente.
          </p>
          <br>
          <p class="text-justify">
            Sin embargo, con el correr de los años y de las cuentas, notó con decepción que las cosas no siempre funcionaban tal como ella había imaginado. En algunos períodos sus clientes capturaban una buena cantidad de conejos en tanto que otros apenas si lograba
            irse con una cantidad mínima de animales. A consecuencia de ello, había momentos en que podía vivir cómodamente y otros en los cuales le costaba llegar a fin de mes a pesar de que los precios reales de los conejitos no variaran. “¿Cómo es
            esto posible? ¿Alguien me está robando periódicamente a mis gazapos?<sup><b>2</b></sup> ¿Tal vez mis los vecinos están envidiosos de mi éxito comercial?”.
          </p>
          <br>
          <p class="text-justify">
            Tanto le preocupaba el asunto que, al final se decidió a consultar con un viejo veterinario que vivía en un pueblo cercano. Este, luego de escucharla atentamente y de revisar aún con mayor detenimiento sus notas le dijo después de meditar un rato: “Señora,
            lo que sucede es que usted se ha olvidado de la hierba”.<br><br> - ¿De la hierba?- preguntó ella.<br><br>- Sí –dijo él- del largo de los pastos que crecen en esta chacra y, por lo tanto, de sus propiedades alimenticias. No me extraña
            en lo más mínimo que la cantidad de conejos que son capturados tenga un comportamiento cíclico. <br><br>- ¿Cómo es eso? Explíquese. <br><br>- Es muy sencillo. Cuando usted inició este negocio, las praderas de este establecimiento hacía años
            que permanecían incultas y, por ende, sus pastos eran altos y muy nutritivos. A consecuencia de ello sus primeros conejos se encontraron con una gran abundancia de alimento y se reprodujeron a gran velocidad. Al aumentar considerablemente
            la población de animales ellos, como es natural, se comieron la hierba a mayor velocidad de lo que ella requiere para crecer en este clima. Cuando los pastos empezaron a escasear, las conejas empezaron a pasar hambre y muchos de sus gazapos
            fallecían debido al bajo poder nutritivo de su leche. Pero, al bajar la población de conejos, los pastos tuvieron tiempo de recuperarse y ello permitió luego –con algún retraso- que la población de conejos se recuperara y volvieran a sobrepoblar
            el campo. El ciclo conejo-pastos es, pues, el siguiente:
            <br>
            <br>
            <b class="text-justify"> <b> → Mejores pastos → Más conejos Peores pastos → Menos conejos → Y así seguido... →</b>
            <br>
            <br>
            <div class="container">
              <div class="row">
                <div class="col-md-8 col-md-offset-2" id="grafico">
                  <div id="img-grafico">
                    <img src="img\conejos_grafico.jpg" alt="grafico" class="center-block img-responsive">
                    <br>
                    <p class="text-justify" id="text-graphic">Gráfico: Esto es lo que vio el veterinario. Aquí no importa qué línea corresponde a conejos y qué corresponde a la altura de la hierba.</p>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <p class="text-justify">- ¿Y cómo se puede solucionar este problema? Preguntó Cristina.</p><br>
            <p>- Bueno, el remedio no es sencillo debido a que usted no puede contar la cantidad de conejos que hay desparramados en su campo. Lo mejor que puede hacer es examinar semanalmente la cantidad de animales que capturan sus visitantes y regular
              la cantidad de personas que admitirá en el futuro en función de esos datos. Cuando ellos maten más conejos admitirá más visitantes y, a la inversa, si atrapan menos piezas usted admitirá durante, digamos, los dos meses siguientes, menos
              huéspedes.
            </p><br>
            <p>- ¿Eso resolvería mis problemas?</p><br>
            <p>- Sin duda que sí aunque, le advierto, que puede tardar varios años en descubrir cuál es cantidad de cazadores sustentable para esta chacra y también puede suceder que cuando descubra ese número óptimo también advierta que este negocio no
              funciona y siempre va a tener problemas para llegar a fin de mes. Otra solución sería comprar forraje a sus vecinos cuando el número de conejos se incremente mucho pero esto, naturalmente, tiene costos adicionales y encierra peligros potenciales.
              Arruinaría su proyecto de tener un negocio ideal que no requiere de ninguna inversión en insumos ni personal y además puede terminar en que la población de conejos crezca tanto –como sucediera en Australia- que ellos terminen invadiendo
              las chacras de sus vecinos que cultivan deliciosas verduras. Todo un desastre ecológico.</p>
            <br>
            <p>Pero, como nuestro veterinario era también un viejo pensante (un filósofo silvestre), luego de emitir su diagnóstico de la situación, agregó algo particularmente enigmático: “Señora mía –le dijo- cuando alguien planifica un negocio que le
              parece redondo no sólo debe examinar aquellos procesos que puede controlar <b>sino que también debe tomar nota, en la medida de lo posible, de aquellos procesos que no es capaz de controlar.</b> Y en este caso es obvio que usted no podía
              llegar a controlar la tasa de fertilidad de sus conejas y el poder alimenticio de la hierba. Lo lamento mucho pero la realidad es así: obstinada, testadura y a menudo, frustrante para el cristiano bien intencionado”. Luego, saludó cordialmente
              y se retiró sin cobrarle nada por la consulta.</p>
            <br>
            <p>Al quedar sola Cristina –vaya uno a saber por qué- fue brevemente asaltada por una curiosa pregunta que desechó en el acto: “¿Acaso ese viejo estaba sugiriéndome alguna crítica velada a mi gestión?”</p>
            <br>
            <p><b>Trabajo práctico: </b>¿Qué podrían suceder si los conejos, por arte magia, se volvieran súbitamente reflexivos? ¿De qué manera podrían ellos regular aquellos procesos que Cristina no tuvo en cuenta? ¿Qué tiene que ver esta fábula con la
              hubris o hybris? Y algo aún más difícil de develar: ¿Qué relación hay entre la posibilidad de que los conejos devinieran en seres conscientes con aquello que Freud denominara “proceso primario” y “proceso secundario”?</p>
            <br>
            <hr id="hr-quote">
            <br>
            <blockquote>
              <p class="text-left">1 Esta fábula me fue inspirada por un informe que me enviara mi amigo Dante “Lalo” Sica acerca de las difíciles relaciones entre política y economía.</p>
              <p class="text-left">2 Quiero señalar que un “gazapo” es tanto un conejito como un error involuntario que se comete al hablar o al escribir.</p>
            </blockquote>
        </div>
      </div>
    </div>
  </div>
  <br><br>

  <!-- Footer -->

  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <p class="text-center">Copyright &copy; SocioDivagaciones 2017 &nbsp | &nbsp sociodivagaciones@gmail.com</p>
        </div>
        <div class="col-md-3 col-md-offset-3">
          <img data-toggle="tooltip" data-placement="left" title="Designed and developed by Valeria Gusso." src=".\img\developer.png" alt="vg" id="vale-gusso"></a>
        </div>
      </div>
    </div>
  </footer>

  <div class='back-to-top' id='back-to-top' title='Back to top'>
    <i class='fa fa-chevron-up'></i></div>



  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>

  <!-- BOTON SCROLL TOP -->
  <script>
    (function() {
      $(document).ready(function() {
        return $(window).scroll(function() {
          return $(window).scrollTop() > 500 ? $("#back-to-top").addClass("show") :
            $("#back-to-top").removeClass("show")
        }), $("#back-to-top").click(function() {
          return $("html,body").animate({
            scrollTop: "0"
          })
        })
      })
    }).call(this);
  </script>

  <!--PARALLAX-->
  <script>
    $(document).ready(function() {
      var $window = $(window);

      function scroll_elements() {
        var scroll = $window.scrollTop();
        var scrollLayer = scroll / 1.4;

        $("#project-image").css(
          "-webkit-transform", "translate3d(0," + scrollLayer + "px,0)",
          "transform", "translate3d(0," + scrollLayer + "px,0)"
        );
      }
      $window.scroll(scroll_elements);
    });
  </script>

  <!-- TOOLTIP TOOL PARA BOTON DEL DEVELOPER -->
  <script>
    $(function() {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>



  <!---------------------------------------------------------------------------->
</body>

</html>
