<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Lo Voulo">
  <meta name="keywords" content="heriberto muraro, sociología, sociólogo, sociedad, política argentina, opinion, divagaciones, análisis político">

  <title>SocioDivagaciones</title>
  <link rel="icon" href=".\img\favicon.ico.png" sizes="16x16" type="image/png">

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="css/estilo-entradas.css">

  <!-- jquery -->
  <script src=" https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!-- Image load -->
  <script src="http://imagesloaded.desandro.com/imagesloaded.pkgd.min.js"></script>
  <!-- Masonry -->
  <script src="https://unpkg.com/masonry-layout@4.2.0/dist/masonry.pkgd.min.js"></script>

  <!-- Custom Fonts -->
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108346653-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-108346653-1');
  </script>

</head>

<body>

  <!-- BARRA DE NAVEGACIÓN -->

  <nav class="navbar navbar-default">
    <a href=".\index.html#discursos-imposibles"><h3>Home</h3></a>
    <div class="container-fluid" id="navegacion">
      <ul class="breadcrumb">
        <li><a href=".\index.html">Explorando fronteras</a></li>
        <li class="active">Discursos imposibles</li>
      </ul>
    </div>
  </nav>

  <!--  Main -->
  <div class="container-fluid">
    <div id="project-image">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="bg">
            <img src="img\discursos_830_530.jpg" alt="relatos_minimos" class="center-block img-responsive">
          </div>
        </div>
      </div>
    </div>


    <!-- ARTICULO -->

    <div id="project-description">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="post-preview">
            <h2 class="card-title">
              discursos imposibles
            </h2>
            <h3 class="card-subtitle">
            Discursos políticamente incorrectos para The Economist <sup><i>1</i></sup>
            </h3>
            <br>
            <hr>
            <br>
            <p class="text-justify">
              Cuando estaba redactando un trabajo sobre el debate actual en torno a la globalización se me ocurrió que podía “circunscribir” las características de un género periodístico redactando algunos fragmentos de texto a la vez similares al corpus tomado como
              material de referencia pero que me parecieran que su emisor jamás se atrevería a publicar. Estimé que esta podía ser una manera intuitiva de aclarar por el lado negativo cuál es la posición política de un medio o autor.<br><br>              Fue así que, cuando tomé como punto de partida para meterme en dicho tema un reporte de The Economist sobre la economía mundial, se me ocurrió que ese procedimiento podía ayudarme a “comprender” los peculiares puntos de vistas de sus redactores.<sup><i>2</i></sup>              En otras palabras: me propuse redactar un conjunto de textos que, por su estilo y vocabulario, pudieran ser atribuido a esa publicación pero cuyo contenido político se ubicara en la frontera entre lo que correspondía y no correspondía a
              su ideología.<br><br> Lo que intenté hacer fue algo así como un ejercicio hermenéutico: una incursión al curioso universo de las cuasi- verdades (o cuasi-mentiras), es decir al conjunto de las frases coherentes desde el punto de vista gramatical
              que nos resultan verosímiles pero no son necesariamente verdaderas en el sentido fáctico del término.<sup><i>3</i></sup><br><br> Siempre me ha intrigado, por ejemplo, porqué es “razonable” opinar que Otelo fue un ingenuo al no advertir que
              estaba rodeado de cortesanos que conspiraban contra él pero no lo es suponer que la intriga palaciega que lo indujera a matar a Desdémona fuera motivada en el odio racial contra él. Porqué podía rechazar la segunda interpretación argumentando
              que él no era un negro -como el despreciable Calibán- sino un moro y que los venecianos de su época mantenían relaciones comerciales y militares permanentes con los reinos islámicos.<br><br> Cuando uno reflexiona sobre esos efectos de sentido
              necesariamente termina desembocando en molestas preguntas acerca de las relaciones existentes entre los criterios de verdad y los criterios de verosimilitud. ¿Qué es los que hace que podamos poner por momentos entre paréntesis los criterios
              de verdad inherentes al sentido común cuando leemos una novela fantástica pero, a la vez, seamos también capaces de calificar a una de ellas como más creíble que otra? O bien ¿por qué la frase “ella eructó sonoramente” encajaría perfectamente
              en una novela picaresca española y sería incorrecta si perteneciera a una novela romántica?.<br><br>
            </p>
            <p class="text-justify">
              <a href=".\pdf\Discursos imposibles_Heriberto_Muraro.pdf" target="_blank" id="pdf"><b>Descargar</b> artículo <b>completo</b> en formato PDF</a></P>
            <br><br>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>

  <!-- Footer -->

  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <p class="text-center">Copyright &copy; SocioDivagaciones 2017 &nbsp | &nbsp sociodivagaciones@gmail.com</p>
        </div>
        <div class="col-md-3 col-md-offset-3">
          <img data-toggle="tooltip" data-placement="left" title="Designed and developed by Valeria Gusso." src=".\img\developer.png" alt="vg" id="vale-gusso"></a>
        </div>
      </div>
    </div>
  </footer>

  <div class='back-to-top' id='back-to-top' title='Back to top'>
    <i class='fa fa-chevron-up'></i></div>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>

  <!-- BOTON SCROLLTOP -->
  <script>
    (function() {
      $(document).ready(function() {
        return $(window).scroll(function() {
          return $(window).scrollTop() > 500 ? $("#back-to-top").addClass("show") :
            $("#back-to-top").removeClass("show")
        }), $("#back-to-top").click(function() {
          return $("html,body").animate({
            scrollTop: "0"
          })
        })
      })
    }).call(this);
  </script>

  <!--PARALLAX-->
  <script>
    $(document).ready(function() {
      var $window = $(window);

      function scroll_elements() {
        var scroll = $window.scrollTop();
        var scrollLayer = scroll / 1.4;

        $("#project-image").css(
          "-webkit-transform", "translate3d(0," + scrollLayer + "px,0)",
          "transform", "translate3d(0," + scrollLayer + "px,0)"
        );
      }
      $window.scroll(scroll_elements);
    });
  </script>

  <!-- TOOLTIP TOOL PARA BOTON DEL DEVELOPER -->
  <script>
    $(function() {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>

</body>

</html>
