<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Erológica">
  <meta name="keywords" content="heriberto muraro, sociodivagaciones, sociología,
  sociólogo, sociedad, política argentina, opinion, divagaciones, análisis político">

  <title>SocioDivagaciones</title>
  <link rel="icon" href=".\img\favicon.ico.png" sizes="16x16" type="image/png">

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="css/estilo-entradas.css">

  <!-- jquery -->
  <script src=" https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!-- Image load -->
  <script src="http://imagesloaded.desandro.com/imagesloaded.pkgd.min.js"></script>
  <!-- Masonry -->
  <script src="https://unpkg.com/masonry-layout@4.2.0/dist/masonry.pkgd.min.js"></script>

  <!-- Custom Fonts -->
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108346653-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-108346653-1');
  </script>

</head>

<body>

  <!-- BARRA DE NAVEGACIÓN -->

  <nav class="navbar navbar-default">
    <a href=".\index.html#cards-panel"><h3>Home</h3></a>
    <div class="container-fluid" id="navegacion">
      <ul class="breadcrumb">
        <li><a href=".\index.html">Relatos mínimos</a></li>
        <li class="active">Erológica</li>
      </ul>
    </div>
  </nav>

  <!--  Main -->
  <div class="container-fluid">
    <div id="project-image">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="bg">
            <img src="img\erologica_830_530.jpg" alt="relatos_minimos" class="center-block img-responsive">
          </div>
        </div>
      </div>
    </div>


    <!-- ARTICULO -->

    <div id="project-description">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="post-preview">
            <h2 class="card-title">
          erológica
          </h2>
            <h3 class="card-subtitle">
          Hacia un lógica de las ilógicas relaciones amorosas
          </h3>
            <br>
            <hr>
            <br>
            <p class="text-justify">
              He descubierto que con un poquito de habilidad, algo de imaginación y capacidad para el macaneo, es posible formalizar cualquier cosa. Dado que ahora hay muchas lógicas dando vueltas por ahí (modales varias, fuzzy, trivalentes, temporales, jurídicas,
              etcétera) tengo permiso para inventarme una que me resulte divertida.<br><br> Por ese motivo he decidido acuñar una lógica del amor que voy a denominar “erotológica”. Veamos sus principales expresiones simbólicas y premisas.<br><br>              (AR?B) Significa que A mantiene una relación amorosa R? con B.<br><br> El signo de interrogación corresponde a la naturaleza global del vínculo que A mantiene con B. Este puede adoptar tres únicos valores:<br><br> (AR+B) Significa A ama,
              adora, quiere, …, a B.<br><br> (AR-B) Significa que A odia, detesta, malquiere, …, a B.<br><br> (ARiB) Significa que A es indiferente con respecto a B. O bien, (ARiB) = No ((AR+B) Y (AR-B)).<br><br> Dado lo anterior, la naturaleza de la
              relación amorosa entre los integrantes de una pareja, podrá expresarse de la siguiente manera:<br><br> {(AR?B)(BR?A)} Esta nomenclatura da por sentado que A y B se conocen e interactúan aunque sólo fuera de manera muy esporádica, es decir,
              que integran una pareja efectiva o potencial. En cambio, no toma en cuenta el género, sexo o cualquier otra característica sociodemográfica de ambos.
              <br><br> Obsérvese que como el amor es algo de cada uno y todos conocemos parejas desparejas, el signo del vínculo que estableció A con B no necesariamente deben coincidir con el que estableció B con A. Tendremos así varios tipos básicos
              de parejas; a saber:<br><br> {(AR+B)(BR+A)} Ejemplo: la pareja bien avenida; se aman. Ver “Romeo y Julieta”.<br><br> {(AR-B)(BR- A)} Ejemplo: la pareja que comparte el odio recíproco; ver “¿Quién le teme a Virginia Wolff?” de Albee. <br><br>              {(ARiB)(BRiA)} Ejemplo: mi relación de pareja con la panadera de mi barrio. También corresponde a un matrimonio de mutua conveniencia. Notemos que dos personas que ni siquiera se conocen quedan excluidas de este esquema porque no conforman
              una pareja actual o potencial.<br><br> {(AR+B)(BR-A)} Ejemplo: A ama a B pero B lo/la detesta aunque esté en pareja con él/ella. ¿Casamiento por dinero?<br><br> {(ARiB)(BR+A)} Un drama: el del amor no correspondido e ignorado.<br><br> {(ARiB)(BR-A)}
              Otro drama: el del odio no correspondido. Esta es la peor de la combinaciones debido a que a menudo B siente que A no corresponde a su odio porque lo considera un ser insignificante. Ver los trabajos de Bordieu en Argelia sobre la ofensa.<br><br>              Nota: El amor es un valor social relativamente reciente en todo el mundo e, inclusive, en Occidente. Notemos que cualquier A que ama considera que B está obligado a explicarle por qué no lo ama en el caso de que A se le declare,<b>cualquiera sea su aspecto físico o condición social.</b>              Todo el mundo tiene derecho a tirarse un lance y a ser aceptado o rechazado. Afortunadamente, como también se supone que amar no es algo voluntario, en el caso de rechazo normalmente basta con un “no te quiero”.<br><br> Hasta acá todo es,
              como corresponde a un modelo lógico, por demás sencillo y tonto. No aclara nada. Pero me voy a permitir introducir en este esquema una vuelta de rosca que está inspirada en algo que leí alguna vez en un trabajo del siquiatra inglés Laíng.<br><br>              Según ese autor,<b>los seres humanos no solo amamos u odiamos a alguien sino que además
              podemos tener una relación positiva, negativa o indiferente con respecto a nuestro vínculo da
              amor/odio con el otro.</b> En otras palabras: no sólo tenemos (AR?B) y {(AR?B)(BR?A)} sino también, de parte de A la relación de segundo orden [AR? {AR?B)(BR?A)}].<br><br> Algunos ejemplos:<br><br> [AR- {AR+B)(BR+A)}] Este esquema corresponde
              al drama del amante que se ha enamorado de B y es correspondido pero lamenta haberse enamorado porque le obliga a mentirle a su legítima esposa y, eventualmente, a divorciarse. Ver “La víbora” de Nicanor Parra (el hermano de Violeta).<br><br>              [AR+{ARiB)(BRiA)}] Este esquema corresponde a Madame Bovary. Ella es, en realidad, indiferente a su amante y su amante sólo quiere tener sexo con ella. Pero ella está enamorada del amor clandestino por haber leído muchas novelas rosas: le
              encanta tener amantes.<br><br> [ARi {AR+B)(BR+A)}] Este modelo corresponde al marido conformista que quiere a su mujer y es querido por ella pero desatiende al vínculo regalándole, como hiciera Homero Simpson, una bola de boliche para su
              cumpleaños. El marido que en una fiesta mira embobado el busto de otra mujer no está cometiendo adulterio pero si está –puesto que la hace delante de terceros- afectando negativamente su relación con la relación.<br><br> [AR+{AR+B)(BR-A)}]
              Este modelo se ha hecho recientemente muy famoso: corresponde a las mujeres que “aman demasiado”.<br><br> No voy a seguir; el lector seguramente podrá elaborar otras frases bien formuladas siguiendo el esquema anterior y buscar ejemplos
              ilustrativos al respecto.<br><br> Por ejemplo ¿A qué libreto teatral o de cine puede corresponder el esquema [AR+ {AR+B)(BR- A)}]? Hay un genial cuento de Maupassant al respecto que se llama “Las Joyas”. Se trata de un esposo que ama a su
              mujer y descubre luego de su muerte que ella la ha sido sistemáticamente infiel. Es un hombre que ama demasiado. Pero lo importante del relato es que ese vínculo se sustentaba debido a que ella sabía fingir muy bien amor o devoción o de
              hecho también lo amaba “a su manera”. Ese texto demuestra que toda mi erotológica es una pavada debido a que una esposa indiferente, mala o que no se siente obligada a serle fiel a su marido puede fingir ser una buena esposa y/o un esposo
              ingenuo puede no ver que ella no es tan santa como a él le parecía. El problema es que si introduzco en el esquema segundas intenciones, el cálculo se vuelve muy engorroso.
              <br><br> ¿Podrá el lector desarrollar los esquemas correspondientes para un triángulo amoroso, incluyendo la relación de las relaciones? En este caso deberá tener en cuenta que a veces no todos los amantes se conocen entre sí.</p><br><br>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>

  <!-- Footer -->

  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <p class="text-center">Copyright &copy; SocioDivagaciones 2017 &nbsp | &nbsp sociodivagaciones@gmail.com</p>
        </div>
        <div class="col-md-3 col-md-offset-3">
          <img data-toggle="tooltip" data-placement="left" title="Designed and developed by Valeria Gusso." src=".\img\developer.png" alt="vg" id="vale-gusso"></a>
        </div>
      </div>
    </div>
  </footer>

  <div class='back-to-top' id='back-to-top' title='Back to top'>
    <i class='fa fa-chevron-up'></i></div>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>

  <!-- BOTON SCROLLTOP -->
  <script>
    (function() {
      $(document).ready(function() {
        return $(window).scroll(function() {
          return $(window).scrollTop() > 500 ? $("#back-to-top").addClass("show") :
            $("#back-to-top").removeClass("show")
        }), $("#back-to-top").click(function() {
          return $("html,body").animate({
            scrollTop: "0"
          })
        })
      })
    }).call(this);
  </script>

  <!--PARALLAX-->
  <script>
    $(document).ready(function() {
      var $window = $(window);

      function scroll_elements() {
        var scroll = $window.scrollTop();
        var scrollLayer = scroll / 1.4;

        $("#project-image").css(
          "-webkit-transform", "translate3d(0," + scrollLayer + "px,0)",
          "transform", "translate3d(0," + scrollLayer + "px,0)"
        );
      }
      $window.scroll(scroll_elements);
    });
  </script>

  <!-- TOOLTIP TOOL PARA BOTON DEL DEVELOPER -->
  <script>
    $(function() {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>

</body>

</html>
