<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Horacio Gonzalez">
  <meta name="keywords" content="heriberto muraro, sociodivagaciones, sociología,
  sociólogo, sociedad, política argentina, opinion, divagaciones, análisis político">

  <title>SocioDivagaciones</title>
  <link rel="icon" href=".\img\favicon.ico.png" sizes="16x16" type="image/png">

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="css/estilo-entradas.css">

  <!-- jquery -->
  <script src=" https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!-- Image load -->
  <script src="http://imagesloaded.desandro.com/imagesloaded.pkgd.min.js"></script>

  <!-- FUENTES CUSTOMIZADAS -->
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108346653-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-108346653-1');
  </script>

</head>

<body>

  <!-- BARRA DE NAVEGACIÓN -->

  <nav class="navbar navbar-default">
    <a href=".\index.html#horacio-gonzalez"><h3>Home</h3></a>
    <div class="container-fluid" id="navegacion">
      <ul class="breadcrumb">
        <li><a href=".\index.html">Cajón de sastre</a></li>
        <li class="active">Sobre Horacio González y su folletín</li>
      </ul>
    </div>
  </nav>

  <!--  PRINCIPAL -->
  <div class="container-fluid">
    <div id="project-image">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="bg">
            <img src="img\gonzalez_830_530.jpg" alt="relatos_minimos" class="center-block img-responsive">
          </div>
        </div>
      </div>
    </div>


    <!-- ARTICULO -->

    <div id="project-description">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="post-preview">
            <h2 class="card-title">
          sobre horacio gonzalez y su folletín
          </h2>
            <h3 class="card-subtitle">
          Comentario sobre un texto de Horacio González que alguien me recomendara leer
          </h3>
            <br>
            <hr>
            <br>
            <p class="text-justify">
              Si Macri hubiera asumido en este país con una tasa de inflación “normal” –digamos del 5% anual- superávit de la balanza comercial, de la balanza de pagos y del presupuesto nacional y hubiera adoptado las medidas que ha venido adoptando hasta el día de
              la fecha se podría suponer que él es un fanático neoliberal interesado en volver a endeudar al país comparable a Martínez de Hoz o Cavallo.<br><br> Sin embargo, como sabemos, ello no es así. La Argentina ya estaba en rojo cuando
              él asumiera. Tan desequilibrada que puede presumirse que, cualquiera sea la orientación de quien la gobierne, éste estaría obligado a llevar a cabo una dolorosa e impopular política de ajuste. El mismo Scioli estaría hoy rogando a los congresistas
              que le aprueben las leyes necesarias para salir del default.<br><br> Dicha situación económica del país es, por añadidura, particularmente preocupante debido a que la América Latina atraviesa hoy un período de vacas flacas, es decir, de
              fuerte caída de los precios y demanda de sus productos exportables y mayores dificultades para obtener préstamos en el exterior. Basta con echar una mirada superficial a las noticias que nos llegan ahora sobre lo que ocurre en Brasil o Venezuela
              para verificar esto.
              <br><br> Acerca de tan difícil coyuntura cabe agregar otros dos hechos que me parecen sumamente importantes. En primer lugar, que la crisis actual –alta inflación, cesación de pagos, déficit fiscal, etc.- hace ya un lustro que viene perfilándose
              y que, en segundo lugar, que no todos los países de la región deben enfrentarla en condiciones tan desfavorables como la nuestra. Países con gobiernos de muy diferente orientación ideológica –como Bolivia, Colombia o Chile- se hallan hoy
              mejor parados para resistir el embate que la región está ahora experimentando.<br><br> Sé bien que estos temas que ahora nos inquietan a todos debido a los recientes incrementos de precios y los despidos que vienen ocurriendo tanto en el
              sector privado como en el público no inquietaron demasiado a la ciudadanía durante las elecciones del año pasado. Casi nadie esperaba semejante bajón y ningún candidato se atrevió a contarle a la gente lo que le decían en voz baja sus asesores
              económicos. También sé que es ridículo e inverosímil suponer que en los pocos días que lleva Macri al frente de la presidencia haya podido producir semejante desastre; lamentablemente nadie es tan eficaz en este país para el bien o para
              el mal.<br><br> En las más de tres décadas que llevo asesorando a dirigentes políticos he aprendido que ellos odian implementar programas de ajuste por la sencilla razón de que al grueso de sus votantes potenciales les molestará no llegar
              a fin de mes y reaccionará eligiendo a algún partido de la oposición. Pueden ser más de derecha o de izquierda pero, más allá de esas diferencias de matices, saben bien que, en una democracia plebiscitaria, no pueden ignorar los resultados
              de las encuestas de opinión.<br><br> Otra de las cosas que he aprendido en estos años es que una vez que la realidad de la crisis se apodere del escenario público, los temas abordados por HG en su folletín interesarán solamente a los historiadores.
              Yo, por mi parte, mirando someramente dicho texto no encontré ninguna respuesta a las únicas preguntas que siempre me inquietaron con respecto a él y a otros integrantes de “Carta Abierta”: ¿Por qué razones jamás criticaron abiertamente
              los errores en materia de conducción económica que el kirchnerismo cometiera a despecho de que ellos comprometerían el pan de cada día de los pobres? ¿Cómo puede ser que gente que pretende explicar a Marx o a Marcuse cerrara los ojos ante
              tantos indicios de mala praxis?.<br><br></p>
            <br><br>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- PIE DE PAGINA -->

  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <p class="text-center">Copyright &copy; SocioDivagaciones 2017  |  sociodivagaciones@gmail.com</p>
        </div>
        <div class="col-md-3 col-md-offset-3">
          <img data-toggle="tooltip" data-placement="left" title="Designed and developed by Valeria Gusso." src=".\img\developer.png" alt="vg" id="vale-gusso"></a>
        </div>
      </div>
    </div>
  </footer>

  <div class='back-to-top' id='back-to-top' title='Back to top'>
    <i class='fa fa-chevron-up'></i></div>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>

  <!-- BOTON SCROLLTOP -->
  <script>
    (function() {
      $(document).ready(function() {
        return $(window).scroll(function() {
          return $(window).scrollTop() > 500 ? $("#back-to-top").addClass("show") :
            $("#back-to-top").removeClass("show")
        }), $("#back-to-top").click(function() {
          return $("html,body").animate({
            scrollTop: "0"
          })
        })
      })
    }).call(this);
  </script>

  <!--PARALLAX-->
  <script>
    $(document).ready(function() {
      var $window = $(window);

      function scroll_elements() {
        var scroll = $window.scrollTop();
        var scrollLayer = scroll / 1.4;

        $("#project-image").css(
          "-webkit-transform", "translate3d(0," + scrollLayer + "px,0)",
          "transform", "translate3d(0," + scrollLayer + "px,0)"
        );
      }
      $window.scroll(scroll_elements);
    });
  </script>

  <!-- TOOLTIP TOOL PARA BOTON DEL DEVELOPER -->
  <script>
    $(function() {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>

</body>

</html>
