<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Lo Voulo">
  <meta name="keywords" content="heriberto muraro, sociología, sociólogo, sociedad, política argentina, opinion, divagaciones, análisis político">

  <title>SocioDivagaciones</title>
  <link rel="icon" href=".\img\favicon.ico.png" sizes="16x16" type="image/png">

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="css/estilo-entradas.css">

  <!-- jquery -->
  <script src=" https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!-- Image load -->
  <script src="http://imagesloaded.desandro.com/imagesloaded.pkgd.min.js"></script>
  <!-- Masonry -->
  <script src="https://unpkg.com/masonry-layout@4.2.0/dist/masonry.pkgd.min.js"></script>

  <!-- Custom Fonts -->
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108346653-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-108346653-1');
  </script>

</head>

<body>

  <!-- BARRA DE NAVEGACIÓN -->

  <nav class="navbar navbar-default">
    <a href=".\index.html#inania"><h3>Home</h3></a>
    <div class="container-fluid" id="navegacion">
      <ul class="breadcrumb">
        <li><a href=".\index.html">Relatos mínimos</a></li>
        <li class="active">Inania</li>
      </ul>
    </div>
  </nav>

  <!--  Main -->
  <div class="container-fluid">
    <div id="project-image">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="bg">
            <img src="img\inania_830_530.jpg" alt="relatos_minimos" class="center-block img-responsive">
          </div>
        </div>
      </div>
    </div>


    <!-- ARTICULO -->

    <div id="project-description">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="post-preview">
            <h2 class="card-title">
          inania
          </h2>
            <h3 class="card-subtitle">
          A la manera de Jonathan Swift
          </h3>
            <br>
            <hr>
            <br>
            <p class="text-justify">
              En mis viajes por el trópico que realizara cuando era un joven más impulsivo, tuve la suerte de recalar en una hermosa isla que sus habitantes llamaban Inania. Vivían todos ellos en paz, libres de hacer lo que les gustara y, aunque al lector le resulte
              algo inverosímil, eximidos de presenciar o participar de actos de violencia. De hecho, durante todo el tiempo que permanecí allí no sólo no llegué a observar que alguien hubiera lastimado a alguien; tampoco presencié intercambio de insultos
              o descalificaciones.<br><br> Dado el carácter insólito de las costumbres de los felices inanes no voy a referirme a sus leyes o a sus instituciones; tampoco a cosas tales ahora muy de moda entre nosotros tales como su concepción
              del mundo, valores o personalidades. Sólo voy a contarles algunas cosas que logré ver con mis propios ojos acerca de su vida pública y privada. Ustedes mismos descubrirán las razones que me obligan a elaborar este relato de esa manera.<br>              Mi primer ejemplo corresponde a las actividades que solían realizar semanalmente sus cortes y parlamentos. Las audiencias realizadas en el palacio real –siempre presididas por su soberado y todos sus ministros así como también por una multitud
              de sabios- estaban destinadas a examinar temas de verdadero interés colectivo tales como qué tipo de granos era conveniente cultivar o qué debían hacer para contrarrestar las amenazas de una tribu belicosa que moraba en alguna isla cercana.<br>              En dichas asambleas –en las cuales no sólo cualquiera podía hablar sino que también lo hacían- solía discutirse acaloradamente durante horas y horas. Siempre que participé de ellas me sorprendía la abundante información fáctica, el rigor
              lógico, la riqueza de sus citas y, muy especialmente, la calidad de su retórica que hubiera provocado la envidia del más sutil de nuestros doctores de teología. También me llamó la atención la excitación con que los presentes solían cerrar
              esos actos maravillosos eligiendo la mejor de las propuestas presentadas y lo mucho que se conversaba acerca de ellas en días posteriores.<br> En Inania, los mejores oradores –aquellos que eran capaces de emocionar a los presentes o que
              lograban de buena fe desbaratar a los argumentos de un competidor hilando una compleja cadena de premisas y deducciones- eran más apreciados e invitados a comer gratis que nuestras estrellas de rock o deportistas más habilidosos.<br> Sin
              embargo, después de un tiempo de convivir con los inanes, caí en la cuenta de que jamás había observado que las propuestas más festejadas y recordadas en las frecuentes tertulias a las cuales ellos solían concurrir cambiaran en algún aspecto
              sus vidas cotidianas. Al principio pensé –como es lógico- que el problema debía residir en que su sistema político ultrademocrático era en realidad una verdadera anarquía o bien, que más allá del <br> rey y sus ministros, las verdaderas
              decisiones debían ser tomadas por oscuros poderes corporativos tal como sucede entre nosotros.<br><br> Empecé a hacer preguntas. “A comienzos de este año se convino en una asamblea en resolver los problemas con los vecinos belicosos de una
              isla cercana regándoles alimentos y medicinas. ¿Qué pasó al respecto?”. O bien: “Recuerdo que se decidió cultivar menos algodón para evitar el agotamiento de los campos pero me han dicho que la cosecha de este año de esa fibra es tan grande
              o mayor que la del anterior ¿Qué impresión tiene usted al respecto?”. Pero las respuestas que recibía me dejaban siempre desorientado. Por ejemplo: “Recuerdo muy bien ese debate porque me emocioné hasta las lágrimas cuando el orador X explicó
              que la naturaleza era nuestra madre y debíamos cuidarla, amarla y respetarla”. O bien: “No estoy de acuerdo con la propuesta que ganó: yo hubiera preferido incrementar el comercio con los belicosos en lugar de ofrecerles regalos para que
              no nos agredan”. Y nada más.<br><br> Aunque parezca absurdo, otro tanto sucedía cuando conversaban sobre temas íntimos. Las muchachas inanes –muy bonitas y desenfadadas, por cierto- podían hablar durante horas de las bellezas físicas, la
              elocuencia o la elegancia de los varones de la isla. Incluso idolatraban a varios de ellos a quienes consideraban algo así como arquetipos de la masculinidad.<br><br> Sin embargo, lo curioso era que jamás competían entre ellas por quedarse
              con los mejores candidatos y uno tenía la impresión que a la hora de sentar cabeza se comportaban como si eligieran al azar al futuro padre de sus hijos. Obviamente, pensé que los matrimonios debían ser arreglados por sus padres como en
              la India pero jamás oí hablar de temas tales como dotes, reuniones de familia para concertar bodas, celestinas o cosas por el estilo. Era como si las jóvenes fueran absolutamente libres pero no se preocuparan por satisfacer sus preferencias.
              ¿Quién podía entenderlas?<br><br> Ahora, ya de vuelta en mi querida Irlanda y con demasiado tiempo para meditar acerca de mis experiencias de viajero he llegado a la conclusión de que los inanes conformaban una extraña comunidad en la cual
              ningún acuerdo colectivo o preferencia individual era vinculante. Era como si no relacionaran lo que se dice con lo que se debe hacer: después de ponerse de acuerdo en impulsar tal o cual proyecto cada quien volvía a sus hogares y hacía
              lo que hacía sin sentirse obligado en lo más mínimo por la alternativa que ellos mismos habían votado.<br><br> Eso les permitía gozar de los discursos, los debates, la poesía o la retórica de sus oradores pero actuaban en relación a ellos
              como nosotros, los europeos, solemos desempeñarnos en relación a las obras teatrales, los libros de autoayuda o las utopías políticas a los que somos tan afectos. La ficción nos sirve para soñar porque no afecta nuestra vida cotidiana.<br>              Si alguno de nosotros sospechara en la actualidad de la fidelidad de su pareja, lo más probable es que consulte a un abogado, un detective o un sicólogo y dejara de lado sus impulsos de emular a Otelo.
              <br><br> Esa es, en síntesis, mi teoría sobre Inania. Sin embargo, reconozco que padece de un grave defecto: interpreta el comportamiento de los isleños suponiendo que son algo excepcional y que entre nosotros, salvo cuando vamos a un teatro,
              la charla y los actos están muy relacionados entre sí y que cada vez que elegimos algo nos sentimos obligados a llevarlo a la práctica. En cambio, un amigo mío, decididamente cínico, considera que ese punto de partida es falso porque todas
              las sociedades son similares a aquella, en mayor o menor medida. Resume su punto de vista con una sola frase: “También entre nosotros todo los que dice en voz alta es una farsa, especialmente las asambleas del Parlamento y los juicios de
              los tribunales. La única diferencia entre los inanes y nosotros reside en que ellos no son agresivos y nosotros sí”.<br><br> ¿Tiene razón? No lo sé. Sin embargo, alguna vez –pensando en que nosotros consideramos todavía que la monogamia
              y la democracia son el fundamento de nuestro modo de vida civilizado- me siento tentado a coincidir con él.<br>
            </p><br>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>


  <!-- Footer -->

  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <p class="text-center">Copyright &copy; SocioDivagaciones 2017 &nbsp | &nbsp sociodivagaciones@gmail.com</p>
        </div>
        <div class="col-md-3 col-md-offset-3">
          <img data-toggle="tooltip" data-placement="left" title="Designed and developed by Valeria Gusso." src=".\img\developer.png" alt="vg" id="vale-gusso"></a>
        </div>
      </div>
    </div>
  </footer>

  <div class='back-to-top' id='back-to-top' title='Back to top'>
    <i class='fa fa-chevron-up'></i></div>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>

  <!-- BOTON SCROLL UP  -->
  <script>
    (function() {
      $(document).ready(function() {
        return $(window).scroll(function() {
          return $(window).scrollTop() > 500 ? $("#back-to-top").addClass("show") :
            $("#back-to-top").removeClass("show")
        }), $("#back-to-top").click(function() {
          return $("html,body").animate({
            scrollTop: "0"
          })
        })
      })
    }).call(this);
  </script>

  <!--PARALLAX-->
  <script>
    $(document).ready(function() {
      var $window = $(window);

      function scroll_elements() {
        var scroll = $window.scrollTop();
        var scrollLayer = scroll / 1.4;

        $("#project-image").css(
          "-webkit-transform", "translate3d(0," + scrollLayer + "px,0)",
          "transform", "translate3d(0," + scrollLayer + "px,0)"
        );
      }
      $window.scroll(scroll_elements);
    });
  </script>

  <!-- TOOLTIP TOOL PARA BOTON DEL DEVELOPER -->
  <script>
    $(function() {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>

</body>

</html>
