<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="mujer islámica">
  <meta name="keywords" content="heriberto muraro, sociodivagaciones, sociología,
  sociólogo, sociedad, política argentina, opinion, divagaciones, análisis político">

  <title>SocioDivagaciones</title>
  <link rel="icon" href=".\img\favicon.ico.png" sizes="16x16" type="image/png">

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="css/estilo-entradas.css">

  <!-- jquery -->
  <script src=" https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!-- Image load -->
  <script src="http://imagesloaded.desandro.com/imagesloaded.pkgd.min.js"></script>
  <!-- Masonry -->
  <script src="https://unpkg.com/masonry-layout@4.2.0/dist/masonry.pkgd.min.js"></script>

  <!-- Custom Fonts -->
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108346653-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-108346653-1');
  </script>

</head>

<body>

  <!-- BARRA DE NAVEGACIÓN -->

  <nav class="navbar navbar-default">
    <a href=".\index.html#leyendo-reportes"><h3>Home</h3></a>
    <div class="container-fluid" id="navegacion">
      <ul class="breadcrumb">
        <li><a href=".\index.html">Explorando fronteras</a></li>
        <li class="active">Leyendo reportes</li>
      </ul>
    </div>
  </nav>

  <!--  Main -->
  <div class="container-fluid">
    <div id="project-image">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="bg">
            <img src="img\leyendo_830_530.jpg" alt="relatos_minimos" class="center-block img-responsive">
          </div>
        </div>
      </div>
    </div>


    <!-- ARTICULO -->

    <div id="project-description">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="post-preview">
            <h2 class="card-title">
          leyendo reportes
          </h2>
            <h3 class="card-subtitle">
          Leyendo a The Economist
          </h3>
            <hr>
            <div class="quote">
              <blockquote>
                <p>“De momento, sin embargo, las cosas no van bien. Y aunque es poco probable una recesión severa, hay un nuevo riesgo: una epidemia de proteccionismo”.</p>
                <small><cite>Paul Krugman, El internacionalismo “moderno”,
                  Barcelona, 1997, pp. 114.</cite></small>
              </blockquote>
            </div>
            <br>
            <h4>¿La catástrofe que nos amenaza?</h4>
            <br>
            <p class="text-justify">
              Hace muchos años compré un libro editado en los EE.UU. en 1996 (¡hace dos décadas!) que comprendía un conjunto muy amplio de artículos dedicados a examinar diversas consecuencias de la globalización económica mundial y a refutar los postulados del neoliberalismo<sup>1</sup>.
              Lo que más me sorprendió de esa antología fue su posición decididamente crítica con respecto al libre comercio o el libre flujo de los capitales así como también que el conjunto de sus autores esbozaran una visión totalizadora de la sociedad
              actual desde una perspectiva no marxista sino más bien progresista, democrática y reformista.<br><br></p><br>
            <p class="text-justify">
              <a href=".\pdf\Leyendo reportes_Heriberto_Muraro.pdf" target="_blank" id="pdf"><b>Descargar</b> artículo completo</a></p>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>

  <!-- PIE DE PAGINA-->

  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <p class="text-center">Copyright &copy; SocioDivagaciones 2017 &nbsp | &nbsp sociodivagaciones@gmail.com</p>
        </div>
        <div class="col-md-3 col-md-offset-3">
          <img data-toggle="tooltip" data-placement="left" title="Designed and developed by Valeria Gusso." src=".\img\developer.png" alt="vg" id="vale-gusso"></a>
        </div>
      </div>
    </div>
  </footer>

  <div class='back-to-top' id='back-to-top' title='Back to top'>
    <i class='fa fa-chevron-up'></i></div>

  <!-- SCROLL UP-->

  <a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>

  <!-- BOTON SCROLL UP  -->
  <script>
    (function() {
      $(document).ready(function() {
        return $(window).scroll(function() {
          return $(window).scrollTop() > 500 ? $("#back-to-top").addClass("show") :
            $("#back-to-top").removeClass("show")
        }), $("#back-to-top").click(function() {
          return $("html,body").animate({
            scrollTop: "0"
          })
        })
      })
    }).call(this);
  </script>

  <!--PARALLAX-->
  <script>
    $(document).ready(function() {
      var $window = $(window);

      function scroll_elements() {
        var scroll = $window.scrollTop();
        var scrollLayer = scroll / 1.4;

        $("#project-image").css(
          "-webkit-transform", "translate3d(0," + scrollLayer + "px,0)",
          "transform", "translate3d(0," + scrollLayer + "px,0)"
        );
      }
      $window.scroll(scroll_elements);
    });
  </script>

  <!-- Tooltip tool para botón del developer -->
  <script>
    $(function() {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>



</body>

</html>
