<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Lo Voulo">
  <meta name="keywords" content="heriberto muraro, sociología, sociólogo, sociedad, política argentina, opinion, divagaciones, análisis político">

  <title>SocioDivagaciones</title>
  <link rel="icon" href=".\img\favicon.ico.png" sizes="16x16" type="image/png">

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="css/estilo-entradas.css">

  <!-- jquery -->
  <script src=" https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!-- Image load -->
  <script src="http://imagesloaded.desandro.com/imagesloaded.pkgd.min.js"></script>
  <!-- Masonry -->
  <script src="https://unpkg.com/masonry-layout@4.2.0/dist/masonry.pkgd.min.js"></script>

  <!-- Custom Fonts -->
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108346653-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-108346653-1');
  </script>

</head>

<body>

  <!-- BARRA DE NAVEGACIÓN -->

<nav class="navbar navbar-default">
  <a href=".\index.html#cards-panel"><h3>Home</h3></a>
  <div class="container-fluid" id="navegacion">
    <ul class="breadcrumb">
      <li><a href=".\index.html">Cajón de sastre</a></li>
      <li class="active">Lo Vuolo</li>
    </ul>
  </div>
</nav>

  <!--  Main -->
  <div class="container-fluid">
    <div id="project-image">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="bg">
            <img src="img\vuolo_830_530.jpg" alt="relatos_minimos" class="center-block img-responsive">
          </div>
        </div>
      </div>
    </div>


    <!-- ARTICULO -->

    <div id="project-description">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="post-preview">
            <h2 class="card-title">
          lo vuolo
          </h2>
            <h3 class="card-subtitle">
          Crítica a una nota del economista Lo Vuolo
          </h3>
            <br>
            <hr>
            <br>
            <p class="text-justify">
              En la escuela secundaria tenía un profesor de religión, un piadoso y honesto curita, que solía explicarnos cómo podía erradicarse de una vez para siempre a todos los delitos comunes. Sostenía que, como la cárcel no servía para reformar a los ladrones
              y estafadores y tampoco los disuadía el endurecimiento de las penas, la única solución posible para ese mal social era que obedeciéramos estrictamente a la palabra de Dios, es decir, que fuéramos buenos.<br><br>Cuando le preguntábamos
              cómo resolvería una comunidad de hombres santos el asunto de los robos provocados por la desigualdad distribución de la riqueza contestaba que, justamente para lidiar con ese problema, Jesús nos había prescripto no sólo la fe y la esperanza
              sino también la caridad como virtudes teologales fundamentales.<br><br> Sin duda, nuestro curita era coherente y es probable que jamás haya caído en la cuenta de que sus silogismos se salteaban nada menos que la realidad misma del problema
              que pretendía solucionar. Aunque racional, era <b>de hecho</b> un fabricante de lo que ahora solemos llamar los argentinos “un relato”. <br><br>Este recuerdo me vino a la mente después de leer una nota publicada por el diario Clarín el día
              martes 23 de febrero, de Lo Vuolo, titulada “¿Nos conviene esta receta económica?”. En ese texto dicho autor sostiene en términos generales que la actual política económica de libre cambio y movilidad de capitales adoptada por el gobierno
              de Macri no va a poder solucionar ninguno de los problemas estructurales de nuestro país por la sencilla razón de éste corresponde a una economía periférica. Nos advierte que “La entrada de capitales puede inflar fases de crecimiento, pero
              con su salida indefectiblemente sobrevienen profundas recesiones y agudas crisis cambiarias (y monetarias)”. Paralelamente, da por sentado que la salida de capitales será algo que muy probablemente tendrá lugar dado que “Con libre movimiento
              de capitales, los países periféricos no pueden controlar ni la política de cambios ni la política monetaria”. <br><br>Hasta aquí creo que los pronósticos de Lo Vuolo son acertados. Todos aquellos que tenemos el dudoso privilegio de haber
              experimentado cómo terminaron los planes de apertura de la última dictadura militar o el régimen del “uno a uno” de Menem (y De la Rúa) no podemos sino darle la razón. <br><br> Pero la teoría de nuestro autor se vuelve lógicamente inconsistente
              cuando ofrece su receta alternativa, es decir cuando nos dice que “Lo recomendable es apostar (¡sic!) menos a las finanzas globales y más a transformaciones del sistema productivo local, que se sigue estimulando por extracción de recursos
              naturales y reclamando divisas para las importaciones”.<br><br>¿Qué es lo que nuestro autor realmente propone? <b>Propone nada menos que la Argentina deje de ser un país
              periférico para resolver los problemas que implica ser periférico
              contradiciendo así la premisa que fundamenta sus pronósticos.</b> Razona como nuestro curita: la solución para la existencia del mal es que seamos buenos; lo cual es obvio y, a la vez, trivial. <br><br> Pero más allá del análisis lógico
              del texto, éste suscita dos preguntas que creo pertinentes. Suponiendo que trasformar nuestro sistema productivo local puede insumir décadas ¿qué debe hacer Macri ahora con el país quebrado que acaba de recibir para sortear la coyuntura?
              ¿Qué diferencias cree que existen entre lo que él propone y lo que durante décadas realizaron los K en materia económica?<br><br> Yo no sé cuál es la solución de los problemas estructurales de nuestro periférico país pero de algo de lo cual
              creo no equivocarme: nada se arreglará cambiando un relato por otro y lo mejor que cabe decir cuando uno no avizora una solución es pronunciar con humildad y sencillez la frase mágica: “lo ignoro”.</p><br>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br><br>

  <!-- Footer -->

  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <p class="text-center">Copyright &copy; SocioDivagaciones 2017 &nbsp | &nbsp sociodivagaciones@gmail.com</p>
        </div>
        <div class="col-md-3 col-md-offset-3">
          <img data-toggle="tooltip" data-placement="left" title="Designed and developed by Valeria Gusso." src=".\img\developer.png" alt="vg" id="vale-gusso"></a>
        </div>
      </div>
    </div>
  </footer>

  <div class='back-to-top' id='back-to-top' title='Back to top'>
  <i class='fa fa-chevron-up'></i></div>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>

  <!-- BOTON SCROLLTOP -->
  <script>
    (function() {
      $(document).ready(function() {
        return $(window).scroll(function() {
          return $(window).scrollTop() > 500 ? $("#back-to-top").addClass("show") :
            $("#back-to-top").removeClass("show")
        }), $("#back-to-top").click(function() {
          return $("html,body").animate({
            scrollTop: "0"
          })
        })
      })
    }).call(this);
  </script>

  <!--PARALLAX-->
  <script>
    $(document).ready(function() {
      var $window = $(window);

      function scroll_elements() {
        var scroll = $window.scrollTop();
        var scrollLayer = scroll / 1.4;

        $("#project-image").css(
          "-webkit-transform", "translate3d(0," + scrollLayer + "px,0)",
          "transform", "translate3d(0," + scrollLayer + "px,0)"
        );
      }
      $window.scroll(scroll_elements);
    });
  </script>

  <!-- TOOLTIP TOOL PARA BOTON DEL DEVELOPER -->
  <script>
    $(function() {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>

</body>

</html>
