<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Lo Voulo">
  <meta name="keywords" content="heriberto muraro, sociología, sociólogo, sociedad, política argentina, opinion, divagaciones, análisis político">

  <title>SocioDivagaciones</title>
  <link rel="icon" href=".\img\favicon.ico.png" sizes="16x16" type="image/png">

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="css/estilo-entradas.css">

  <!-- jquery -->
  <script src=" https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!-- Image load -->
  <script src="http://imagesloaded.desandro.com/imagesloaded.pkgd.min.js"></script>
  <!-- Masonry -->
  <script src="https://unpkg.com/masonry-layout@4.2.0/dist/masonry.pkgd.min.js"></script>

  <!-- Custom Fonts -->
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108346653-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-108346653-1');
  </script>

</head>

<body>

  <!-- BARRA DE NAVEGACIÓN -->

<nav class="navbar navbar-default">
  <a href=".\index.html#cpeligros-previsibles"><h3>Home</h3></a>
  <div class="container-fluid" id="navegacion">
    <ul class="breadcrumb">
      <li><a href=".\index.html">Cajón de sastre</a></li>
      <li class="active">Peligros previsibles...</li>
    </ul>
  </div>
</nav>

  <!--  Main -->
  <div class="container-fluid">
    <div id="project-image">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="bg">
            <img src="img\peligros_830_530.jpg" alt="relatos_minimos" class="center-block img-responsive">
          </div>
        </div>
      </div>
    </div>


    <!-- ARTICULO -->

    <div id="project-description">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <h2 class="card-title">
              peligros previsibles que deberá sortear el próximo <br> presidente
            </h2>
          <br>
          <hr>
          <br>
          <p class="text-justify">
            <ol>
              <li>
                <p class="text-justify">
                  La actual es una de las campañas presidenciales más insólitas que haya visto. Me resulta imposible conjeturar quién va a ser el próximo Presidente –si Macri, Scioli o Massa- pero, luego de escuchar a mis amigos economistas, he llegado a tener una idea
                  bastante clara de lo que éste, cualquiera que sea, estará obligado a hacer.</p>
              </li>
              <br>
              <li>
                <p class="text-justify">
                  Lo que “debería hacer” puede resumirse en una sola frase: un plan de ajuste de la economía que, en cuanto tal, será necesariamente impopular para diversos sectores de la ciudadanía. Entre mis amigos economistas nadie discute dicha premisa. Su debate interno
                  en la actualidad no gira en torno de si hay que ajustar o no. Se refiere a la manera en que deberá realizarse dicho ajuste: si debe ser un shock o gradual, qué parámetros deberán ajustarse en primer lugar y con qué intensidad, etc.</p>
              </li>
              <br>
              <li>
                <p class="text-justify">
                  La segunda premisa que considero necesario introducir aquí es que el grueso de la ciudadanía no está enterada (o ha decidido no enterase) de la gravedad de la situación en que se encuentra la economía de este país y sus finanzas públicas. A diferencia
                  de lo que sucediera cuando asumiera Menem o Kirchner, la población no siente que el país se halle al borde de un colapso similar a lo que experimentáramos con la hiperinflación o el default del año 2001. Ese fenómeno previsible ya ha
                  sido bautizado por los expertos como “la bomba de tiempo que CFK le está dejando al futuro mandatario”.</p>
              </li>
              <br>
              <li>
                <p class="text-justify">
                  <b>Los distintos sectores sociales que integran nuestro país no esperan
                    de la futura administración un ajuste sino que ella vaya remediando
                    algunos de los más graves problemas puntuales que los perturban -la
                    inflación y la inseguridad fundamentalmente- sin que ello signifique un
                    deterioro inmediato de sus ingresos.</b> A dichas demandas deben agregarse otras de carácter más sofisticados que formulan en la actualidad los sectores de clase media anti-K: mayor calidad institucional, juicio y
                  cárcel para los corruptos, independencia de la justicia, etc.</p>
              </li>
              <br>
              <li>
                <p class="text-justify">
                  Una consecuencia previsible de las premisas anteriores es que apenas el próximo empiece a hacer lo que está obligado a hacer su nivel de popularidad sufrirá un grave y súbito deterioro. En otras palabras: a diferencia de que sucediera con Menem y Kirchner,
                  el próximo Presidente no será considerado como un salvador que viene al país para remediar una grave crisis económica e institucional sino como aquél que la provocó. Esto, previsiblemente, le provocará graves problemas de gobernabilidad.
                </p>
              </li>
              <br>
              <li>
                <p class="text-justify">
                  Otro aspecto interesante (aunque no insólito) de la actual campaña electoral es que ninguno de los candidatos puede decir en público qué es lo que hará durante los primeros tramos de su gestión. Scioli suscribe hoy plenamente la visión “renegadora” de
                  la realidad del kirchnerismo en tanto que los demás evitan abrir juicio al respecto o prometen mejorías decididamente no financiables. Todos ellos saben muy bien que si dijeran lo que opinan sus asesores en materia económica nadie los
                  votaría. Contribuyen así a generar las condiciones para lo que podríamos denominar “la inminente desilusión”.</p>
              </li>
              <br>
              <li>
                <p class="text-justify">
                  Decidido a juntar calamidades posibles quiero agregar aquí otra conjetura que me parece plausible: se acabaron en el país, por lo menos por el momento, las mayorías automáticas. Estoy convencido, en primer lugar, que a diferencia de lo que sucede hoy
                  con el kirchnerismo, el próximo gobierno no va contar con un Parlamento-escribanía. A este problema debemos agregar que tampoco contará con fuerzas adictas importantes en los ámbitos judiciales, sindicales, empresariales, mediáticos
                  y en los movimientos sociales. En otras palabras: el país va pasar de una hegemonía populista hipercentralizada a un pluralismo basado en la fragmentación más que la agregación de intereses.</p>
              </li>
              <br>
              <li>
                <p class="text-justify">
                  Análogamente, en la opinión pública, la famosa “grieta” de Lanata va a seguir operando permanentemente. Dada la insistencia del kirchnerismo en polarizar a este país en torno a la imaginaria disyuntiva de “a favor o en contra del modelo de inclusión”,
                  lo previsible es que dicha dicotomías siga configurando los mapas mentales de todos los actores políticos en los próximos años. Por ejemplo: es previsible que, apenas el próximo Presidente ponga en marcha medidas elementales de ajuste
                  tales como eliminar los subsidios a los servicios públicos o a la producción, éste sea automáticamente tachado de “neoliberal”, “títere del capital financiero”, etc.</p>
              </li>
              <br>
              <li>
                <p class="text-justify">
                  En esas condiciones, será sumamente difícil que el próximo Presidente logre acumular los recursos políticos y el nivel de popularidad necesario para implementar las medidas correctivas que es necesario adoptar para evitar una catástrofe mayor. Este no
                  sólo deberá enfrentar todos los días a la oposición sistemática del “kirchnerismo residual” sino también de muchos de los partidos de oposición y, probablemente también, de muchos de los dirigentes que integraron su coalición electoral.
                  Dada la fragmentación de los partidos políticos y su precaria organización, los desequilibrios acumulados y la coyuntura internacional, es poco probable de que aquél pueda lograr hacerse del grado de aceptación pública y de los recursos
                  de poder necesarios para poner en marcha un plan de ajuste impopular.</p>
              </li>
              <br>
              <li>
                <p class="text-justify">
                  La verdadera duda que acosará a la próxima administración será, puesta en lenguaje político (no económico), si le conviene asumir inmediatamente la tarea de reencausar el sistema productivo o no sería menos gravoso para ella el dejar que los problemas
                  sigan acumulándose –como hiciera en su momento la Alianza- hasta que la crisis se haga manifiesta para el grueso de los agentes económicos y se justifique de hecho entregar la conducción económica a algún economista ortodoxo. También
                  puede optar por esperar que un golpe de suerte resuelva todos los problemas estructurales y dedicar sus esfuerzos a atender los temas de calidad institucional –por ejemplo, dialogando más con la oposición o fortaleciendo a los organismos
                  de control de la gestión gubernamental- que, como suelen decir los italianos, se prestan más al “intercambio simbólico”. La controversia de fondo en el seno del próximo gobierno no va ser si corresponde adoptar una política organizada
                  de shock o gradualista sino más bien, en qué medida pueden postergar la toma de decisiones al respecto emparchando la situación con medidas de emergencia a la espera de que los problemas acumulados se resuelvan por si solos o se den
                  las condiciones necesarias para tomar al toro por las astas. Obviamente, a cualquier observador externo, le resultaría hoy imposible decidir si los candidatos que hablan del gradualismo están pensando realmente en un ajuste organizado
                  en el tiempo o están apostando a seguir bicicleteando los problemas tanto como sea posible. De cualquier manera hay algo obvio al respecto: como la postergación es la salida más fácil de adoptar (en el corto plazo) es por ello, obviamente,
                  la más probable.</p>
              </li>
            </ol><br><br>
        </div>
      </div>
    </div>
  </div>
  <br><br>

  <!-- Footer -->

  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <p class="text-center">Copyright &copy; SocioDivagaciones 2017 &nbsp | &nbsp sociodivagaciones@gmail.com</p>
        </div>
        <div class="col-md-3 col-md-offset-3">
          <img data-toggle="tooltip" data-placement="left" title="Designed and developed by Valeria Gusso." src=".\img\developer.png" alt="vg" id="vale-gusso"></a>
        </div>
      </div>
    </div>
  </footer>

  <div class='back-to-top' id='back-to-top' title='Back to top'>
  <i class='fa fa-chevron-up'></i></div>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>

  <!-- BOTON SCROLLTOP -->
  <script>
    (function() {
      $(document).ready(function() {
        return $(window).scroll(function() {
          return $(window).scrollTop() > 500 ? $("#back-to-top").addClass("show") :
            $("#back-to-top").removeClass("show")
        }), $("#back-to-top").click(function() {
          return $("html,body").animate({
            scrollTop: "0"
          })
        })
      })
    }).call(this);
  </script>

  <!--PARALLAX-->
  <script>
    $(document).ready(function() {
      var $window = $(window);

      function scroll_elements() {
        var scroll = $window.scrollTop();
        var scrollLayer = scroll / 1.4;

        $("#project-image").css(
          "-webkit-transform", "translate3d(0," + scrollLayer + "px,0)",
          "transform", "translate3d(0," + scrollLayer + "px,0)"
        );
      }
      $window.scroll(scroll_elements);
    });
  </script>

  <!-- TOOLTIP TOOL PARA BOTON DEL DEVELOPER -->
  <script>
    $(function() {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>

</body>

</html>
