<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="conejos, hierbas y política">
  <meta name="keywords" content="heriberto muraro, sociología, sociólogo, sociedad,
  política argentina, opinion, divagaciones, análisis político">

  <title>SocioDivagaciones</title>
  <link rel="icon" href=".\img\favicon.ico.png" sizes="16x16" type="image/png">

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="css/estilo-entradas.css">

  <!-- jquery -->
  <script src=" https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!-- Image load -->
  <script src="http://imagesloaded.desandro.com/imagesloaded.pkgd.min.js"></script>
  <!-- Masonry -->
  <script src="https://unpkg.com/masonry-layout@4.2.0/dist/masonry.pkgd.min.js"></script>

  <!-- Custom Fonts -->
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108346653-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-108346653-1');
  </script>

</head>

<body>

  <!-- BARRA DE NAVEGACIÓN -->

<nav class="navbar navbar-default">
  <a href=".\index.html#semantica"><h3>Home</h3></a>
  <div class="container-fluid" id="navegacion">
    <ul class="breadcrumb">
      <li><a href=".\index.html">Explorando fronteras</a></li>
      <li class="active">La semnántica del siglo pasado</li>
    </ul>
  </div>
</nav>

  <!--  Main -->
  <div class="container-fluid">
    <div id="project-image">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="bg">
            <img src="img\semantica_830_530.jpg" alt="relatos_minimos" class="center-block img-responsive">
          </div>
        </div>
      </div>
    </div>


    <!-- ARTICULO -->

    <div id="project-description">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="post-preview">
            <h2 class="card-title">
          La semántica del siglo pasado y la emergencia de la<br>“sociedad”
          </h2>
            <hr>
            <div class="quote">
              <blockquote>
                <p>““La sociedad está ahora observando a la justicia” ”.
                </p>
                <small><cite>(Escuchado al pasar en un programa de opinión de la TV local)</cite></small>
              </blockquote>
            </div>

            <p class="text-justify">
              Cuando yo era joven –hace más de medio siglo- la sociedad “apenas existía” para el común de los mortales. Aunque ello pueda resultar ahora increíble, no sólo la sociología era entonces una disciplina poco o nada conocida sino que también la sociedad misma
              era un concepto que manejaba solo un puñado de intelectuales. Podría decirse al respecto que la sociedad que en la actualidad nos resulta algo tan tangible y familiar gracias a las redes sociales ha sido para mi generación una novedad propia
              de la segunda mitad del siglo pasado comparable a cosas tales como los celulares, la computación o la pintura abstracta.<br><br>
              En el colegio en el cual cursara mis estudios secundarios –durante la Presidencia de Perón- nadie hablaba de la “sociedad argentina” sino de la “república” o la “nación argentina”. Obviamente, tampoco se dictaba una materia denominada “sociología”; solo
              existía algo que después de la Revolución Libertadora se llamaría “Instrucción Cívica”, una materia destinada a estudiar la Constitución Nacional.</p>
            <br>
            <br>
            <p class="text-justify">
            <a href=".\pdf\La semántica del siglo pasado.pdf" target="_blank" id="pdf"><b>Descargar</b> artículo completo en PDF<br><br></p></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>

  <!-- Footer -->

  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <p class="text-center">Copyright &copy; SocioDivagaciones 2017 &nbsp | &nbsp sociodivagaciones@gmail.com</p>
        </div>
        <div class="col-md-3 col-md-offset-3">
          <img data-toggle="tooltip" data-placement="left" title="Designed and developed by Valeria Gusso." src=".\img\developer.png" alt="vg" id="vale-gusso"></a>
        </div>
      </div>
    </div>
  </footer>

  <div class='back-to-top' id='back-to-top' title='Back to top'>
  <i class='fa fa-chevron-up'></i></div>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>

  <!-- BOTON SCROLLTOP -->
  <script>
    (function() {
      $(document).ready(function() {
        return $(window).scroll(function() {
          return $(window).scrollTop() > 500 ? $("#back-to-top").addClass("show") :
            $("#back-to-top").removeClass("show")
        }), $("#back-to-top").click(function() {
          return $("html,body").animate({
            scrollTop: "0"
          })
        })
      })
    }).call(this);
  </script>

  <!--PARALLAX-->
  <script>
    $(document).ready(function() {
      var $window = $(window);

      function scroll_elements() {
        var scroll = $window.scrollTop();
        var scrollLayer = scroll / 1.4;

        $("#project-image").css(
          "-webkit-transform", "translate3d(0," + scrollLayer + "px,0)",
          "transform", "translate3d(0," + scrollLayer + "px,0)"
        );
      }
      $window.scroll(scroll_elements);
    });
  </script>

  <!-- TOOLTIP TOOL PARA BOTON DEL DEVELOPER -->
  <script>
    $(function() {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>

</body>

</html>
